[2013-10-30 17:29] murrayrm opened #1 "Unit test for mutex fails"
When running run_tests.py, I get the following failure:

[code]

[2013-10-30 17:49] murrayrm opened #2 "examples/robot_planning/robot_continuous.py fails"
When running the robot_continuous.py example, we get the following failure:

[code]

[2013-10-30 18:00] murrayrm opened #3 "allow full names for LTL operators in user input"
It would be handy if we could use "next", "always", etc in LTL specs (like SPIN).

[2013-10-30 18:09] murrayrm opened #4 "States created by discretize/add_adj are integers instead of strings"
The required syntax for LTL is that states must start with a letter.  Right now, when we discretize we don't label the states, and add_adj then creates the label as an integer.  This causes problem in synth.synthesize, because it is expecting a string.

Several possible fixes:
1. Change synth.synthesize to output a string if it gets a number.
2. The discretize function could create states first, w

[2013-10-30 18:26] murrayrm opened #5 "The function 'discretize' does not properly create the initial state"
A problem in issue #2 is that when we discretize the dynamics, the discretize function doesn't set the initial state, leading to a bad specification.

[2013-10-30 18:49] murrayrm opened #6 "examples/robot_planning/robot_MDP not working"
[code]

[2013-10-30 18:56] #1 closed, assigned to vraman

[2013-10-31 05:15] murrayrm opened #7 "Allow initial condition to be specified in simulation function call."
When we are given a transition system without initial conditions, we need to specify the initial condition in order to run the simulation.  This is something that we should be able to pass as an option to the simulator.  If the option is not specified but the transition system has a single initial state, the simulator should default to that.  Otherwise, an error message should be generated.

[2013-10-31 05:25] murrayrm opened #8 "Complete transition of selected tulip-control resources from sourceforge to github"
(From original e-mail by Scott)

Based on the meeting in meatspace today, our plan is for SourceForge.net
to host the project:
1. mailing lists;
2. wiki;
3. domain name (tulip-control.sf.net)...there is also
   www.cds.caltech.edu/tulip ;
4. release binaries; and
5. documentation snapshots (e.g., http://tulip-control.sourceforge.net/doc/)

Everything else---including repository and issue tracking-

[2013-11-04 01:11] murrayrm opened #9 "examples/robot_planning/robot_controlled_switching.py not working: int to str conversion problem"
When running robot_controlled_switching.py, an error message results:

[code]

[2013-11-04 03:54] #7 closed, assigned to johnyf

[2013-11-04 03:58] johnyf opened #10 "examples/robot_planning/robot_hybrid.py not working: spec not in GR(1) format"
87e64ff6240ce48e431d042481b263c3f954e15c updated `examples/robot_planning/robot_hybrid.py`, which now throws the exception:

[code]

[2013-11-04 04:02] #9 closed, assigned to necozay

[2013-11-04 05:41] johnyf opened #11 "SubSet repr set() U [] causes confusion, consider changing it to set() +[]"
Class `transys.mathset.SubSet` is used for storing the initial states set and automatically checking that each state added is in the superset `sys.states`.
The superset `sys.states` is passed to `sys.states.initial` upon initialization, so that it knows wrt what to check new initial states.

The reason for using a custom class is twofold:
    1) automate the subset check: this is why `SubSet` is u

[2013-11-05 01:00] #11 closed, assigned to johnyf

[2013-11-08 04:04] johnyf opened #12 "release on PyPI"
[Release](https://wiki.python.org/moin/CheeseShopTutorial#Submitting_Packages_to_the_Package_Index), after testing [here](https://testpypi.python.org/pypi).

Also, we can add a link to `tulip` from the [Python wiki](https://wiki.python.org/moin/).

[2013-11-08 09:59] johnyf opened #13 "Hybrid Transition Systems class"
I suggest adding (or extending, depends on how this will be implemented) classes for:
- Hybrid Transition Systems (HTS)
- Hybrid Automata: Similarly to the discrete case, these can be defined as labeled graphs similar to HTS, but with input letters labeling edges (besides guards and resets) and continuous dynamics labeling states, together with an acceptance condition, e.g., Buchi. Due to compleme

[2013-11-14 10:12] johnyf opened #14 "return information from guided run"
Currently `tulip.transys.machines.MealyMachine.simulate` does not return anything. Implement creation and return of a `transys.executions.FSMSim` object containing the execution, trace and input, output valuations.

[2013-11-15 01:31] johnyf opened #15 "Update MacPort download location, submit to MacPorts"
The [Portfile](https://github.com/tulip-control/tulip-control/blob/overhaul/contrib/macports/Portfile) needs updating to fetch `tulip` from its github repository, based on the release tag.

Next and after testing it, the Portfile needs to be [submitted](http://guide.macports.org/chunked/project.contributing.html) to the MacPorts project, so that they commit it to their repository.

[2013-11-15 11:21] johnyf opened #16 "graphics integration"
It is helpful to have graphics integrated within `tulip` for plotting both the end-results, as well as intermediate visualization of various synthesis routines as they evolve. This requires integration of graphics with numerical code, which can cause an undesired maintenance burden. Proposed approaches:
- Modularize code and transfer important numerical computations into functions and methods sepa

[2013-11-17 04:37] johnyf opened #17 "split abstract.discretize"
`discretize` is somewhat large and although conceptually the feasibility test and the controller computation belong to the same multi-parametric framework, they could be separated into different modules within `abstract`. Note that there are some common "bottom" calls, e.g., both `solve_feasible_open_loop` and `getInputHelper` call `createLM`. I suggest that common calls as `createLM` remain in `d

[2013-11-18 02:35] johnyf opened #18 "improve labeled graph terminology and documentation"
This issue is intended as a place to collect notable references on labeled graphs and fix a consistent terminology on automata, (state) transition systems and (state) machines. This post will be updated accordingly. Links:
- [Labeled MultiDigraphs](https://en.wikipedia.org/wiki/Labeled_multigraph): The abstraction to labeled graphs serves as a common base class (`tulip/transys/labeled_graphs`) pro

[2013-11-18 23:00] johnyf opened #19 "numpy @1.8 breaks polytope.region_diff"
After upgrading from `py27-numpy @1.7.1_0` to `py27-numpy @1.8.0_0` the module `polytope` breaks.

Running `robot_continuous.py` fails with error:

[code]

[2013-11-18 23:29] #19 closed, assigned to johnyf

[2013-11-19 03:35] johnyf opened #20 "disconnected cells crash synth.synthesize in spec.parse.parse"
Depending on the continuous model, the partitioning may return a partition with dead-end cells. Calling `synth.synthesize('jtlv', specs, disc_dynamics.ofts)` where `ofts` has dead-end states crashes saying:

[code]

A similar error (same most recent call) is returned when trying `gr1c`.
The failing line is [L374](https://github.com/tulip-control/tulip-control/blob/overhaul/tulip/spec/parse.py#L374

[2013-11-19 03:58] johnyf opened #21 "synth.synthesize behavior for unrealizable spec"
`synth.synthesize` returns different types of objects, depending on whether synthesis succeeds or not. If successful, the returned `ctrl` is a Mealy machine. Otherwise it is a list of counterexamples. The user has to type test, for example:

[code]

which is now added to the docstring of `synth.synthesize`, otherwise one has to look in `jtlvint.synthesize` to interpret the returned list. It would

[2013-11-19 06:56] #20 closed, assigned to johnyf

[2013-11-19 07:29] #17 closed, assigned to johnyf

[2013-11-19 15:52] necozay opened #22 "plotit=True fails in discretize"
When I change the plotit flag to True in robot_continuous.py, I get an error:

UnboundLocalError                         Traceback (most recent call last)
/Applications/Canopy.app/appdata/canopy-1.0.3.1262.macosx-x86/Canopy.app/Contents/lib/python2.7/site-packages/IPython/utils/py3compat.pyc in execfile(fname, *where)
    181             else:
    182                 filename = fname
--> 183

[2013-11-19 20:46] #22 closed, assigned to johnyf

[2013-11-26 08:07] necozay opened #23 "improve numerical accuracy of polytope.reduce (polytope.intersect)"
`polytope.intersect` calls `polytope.reduce` to simplify the H-representation after intersection, which basically concatenates constraints. When the numbers in given matrices have different orders, `reduce` does not work well.  Below is an example where a1 intersection a2 and a2 intersection a1 lead to two different results (with cvxopt conelp solver). a1 and a2 are two continuous propositions for

[2013-12-05 09:30] johnyf opened #24 "replace yices with open source SMT solver"
If there is no `yices`-specific feature needed in `tulip` and some other SMT solver can provide the same functionality without the need for substantial changes (beyond possibly interfacing changes) or efficiency loss, then replacing `yices` will remove a more or less proprietary dependence which appears to be the only remaining one which needs manual installation, does not have a MacPort and we ca

[2013-12-05 20:04] slivingston opened #25 "patch for running autonomous_car_road.py with tulip-0.3a"
(Copied patch provided by @necozay on https://sourceforge.net/p/tulip-control/patches/1/)

autonomous_car_road.py example was broken in tulip-0.3a. It has been fixed on later releases. Here is a patch in case you would like to run receding horizon examples with tulip-0.3a.

Revision: 371
http://tulip-control.svn.sourceforge.net/tulip-control/?rev=371&view=rev
Author:   scottlivingston
Date:     20

[2013-12-05 20:05] #25 closed, assigned to nobody

[2013-12-05 20:09] slivingston opened #26 "examples/robot_planning/robot_discrete.py: spec not in GR(1) format"
The example program robot_planning/robot_discrete.py does not run correctly.  Get an error saying that the specification in not in GR(1) format.

[code]

[2013-12-05 20:12] #26 closed, assigned to slivingston

[2013-12-05 20:13] slivingston opened #27 "redundancy in jtlv output"
(Copied from https://sourceforge.net/p/tulip-control/bugs/12/ with creation date 2011-12-30.  Assigned to Ufuk Topcu there.)

Sometimes jtlv generated automaton has redundant transitions. Couple of examples:

robot\_discrete\_simple:
State 14 with rank 0 -&gt; &lt;park:0, cellID:0, X0reach:0&gt;
With successors : 15, 16, 15, 16

transitions 14-&gt;15 and 14-&gt;16 are both repeated.

Similar behav

[2013-12-05 20:27] slivingston opened #28 "Bisimulation algorithm in transys"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/27/ with creation date 2013-07-11.)

Bisimulation algorithm for transition systems as a way for simplifying transition systems.
Suggested: Alg. 32, p.482 [Baier], not decided yet. Possibly interesting a version that takes into account actions.

[2013-12-05 20:35] slivingston opened #29 "explicit representation of dependent variables"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/25/ with creation date 2012-08-09 by @necozay)

GR(1) synthesis tools assume every variable is either environment (input) or system (controlled/output) although transition systems in general might have some dependent variables whose evolution is deterministic given the inputs and outputs. One can imagine these to be "internal st

[2013-12-05 20:37] slivingston opened #30 "propositions with empty interior"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/24/ with creation date 2012-08-09 by @necozay)

The polytope library is not tested for doing abstraction when there are propositions with empty interior. With all the numerical approximations and tolerances in it, I am not sure this can be handled.

[2013-12-05 20:38] slivingston opened #31 "Add a method to call the tool HARE"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/23/ with creation date 2012-06-07, by Pavithra Prabhakar)

Add a method to call the tool HARE, which does model-checking of rectangular hybrid automata and returns counter-examples.

[2013-12-05 20:39] slivingston opened #32 "Interface to a general LTL-game solver."
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/22/ with creation date 2012-05-31, by @necozay and assigned to Nick Spooner)

This will enable to do synthesis with specs beyond GR(1).

[2013-12-05 20:43] slivingston opened #33 "create machine image or basis thereof for easy usage on virtualization platforms"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/21/ with creation date 2012-05-31 by @murrayrm, but assigned to no one)

To allow easier installation of TuLiP, create a VirtualBox image containing all of the python packages, etc.

COMMENTS from https://sourceforge.net/p/tulip-control/feature-requests/21/:

2012-06-23 by @slivingston:  A link to a vm image has been posted on t

[2013-12-05 20:44] slivingston opened #34 "Allow continuous time simulations from TuLiP"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/15/ with creation date 2012-05-31, by @murrayrm but assigned to no one.)

Take Jun's work in switching control systems and integrate. The interesting part is converting TuLiP to MATLAB (but using odeint) and run simulations.

[2013-12-05 20:46] slivingston opened #35 "Allow automatic conversion of GR(1) compatible specs"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/13/ with creation date 2012-05-30, by @murrayrm but assigned to no one.)

We should create a utility function that will automatically take specification components that can be converted to GR(1) compatible specifications and create the appropriate auxiliary variables, system dynamics and specifications. Some of this functionalit

[2013-12-05 20:47] slivingston opened #36 "Add TuLiP interface to PRISM"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/12/ with creation date 2012-05-30 by @murrayrm but assigned to no one.)

It would be useful to be able to call PRISM for logic/MDP synthesis from within TuLiP.

[2013-12-05 20:50] slivingston opened #37 "Export Promela files"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/11/ with creation date 2012-05-30.)

Can we take a TuLiP system, environment, specification and controller definition and generate Promela files that can be used for more sophisticated model checking in SPIN?

COMMENTS copied from https://sourceforge.net/p/tulip-control/feature-requests/11/:

2012-05-31 by @necozay: Nick Spooner

[2013-12-05 20:52] slivingston opened #38 "Create interface between TuLiP and LTLMoP"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/10/ with creation date 2012-05-30, with update of assigning to @vraman on 2013-09-03.)

The Linear Temporal Logic MissiOn Planning (LTLMoP) toolkit is a software package written at Cornell designed to assist in the rapid development, implementation, and testing of high- level robot controllers. In this toolkit, structured Englis

[2013-12-05 20:54] slivingston opened #39 "Domain specific interface for (aircraft) VMS systems"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/9/ with creation date 2012-05-30, by @murrayrm and assigned to Mumu Xu.)

COMMENTS copied from https://sourceforge.net/p/tulip-control/feature-requests/9/:

2012-05-30 by @murrayrm: Since one of the applications that we are pursue at Caltech is the application of TuLiP to aircraft vehicle management systems (including electric p

[2013-12-05 20:59] slivingston opened #40 "variable length reachability"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/6/ with creation date 2012-02-22.)

In the current abstraction methods when we establish reachability relations, we look for reachability in exactly `N` steps. It is possible to add an option for reachability in up to `N` steps. This information is already computed in closed-loop algorithm, just needs some book-keeping to make i

[2013-12-05 21:02] slivingston opened #41 "receding horizon simulation"
(Copied from https://sourceforge.net/p/tulip-control/feature-requests/3/ with creation date 2011-08-07, by @necozay and currently assigned to Nok Wongpiromsarn.)

We don't have the functionality to simulate receding horizon problems. Although this might be something highly dependent on how the problem is set up, hence hard to write a general function, it could be nice to have at least an example.

[2013-12-05 21:40] slivingston opened #42 "Consolidation of wiki sites"
I am aware of three active wiki sites associated with this project:
- https://github.com/tulip-control/tulip-control/wiki
- http://sourceforge.net/p/tulip-control/wiki/
- http://sourceforge.net/apps/mediawiki/tulip-control/

I recommend consolidating these by the time of release 1.0 in the following way.  Alternatives are listed at the end of this issue report.
1. Move the [home page](https://sour

[2013-12-06 00:13] slivingston opened #43 "Clean install generates error on pyparsing or networkx"
"Clean install" meaning numpy, scipy, and "standard scientific Python packages" installed, but no others.  Attempting to run `python setup.py install`, as suggested in the README, fails with missing pyparsing after automatically installing NetworkX.

[2013-12-10 09:12] #42 closed, assigned to slivingston

[2013-12-10 09:26] #8 closed, assigned to slivingston

[2013-12-10 16:35] johnyf opened #44 "python 3 compatibility"
All the required dependencies work in Python 3. Ports `py33-numpy`, `py33-scipy`, `py33-networkx`, `py33-parsing` already exist in MacPorts. Although subport `py27-cvxopt` exists but no `py33-cvxopt` subport, as [noted](http://cvxopt.org/install/index.html) in `cvxopt`'s site it works in Python 3.x, so it should be mostly a matter of updating its macport.

Given the above, `tulip` can be ported to

[2013-12-22 07:12] murrayrm opened #45 "cvxopt problems running under OS 10.9 (Mavericks) with MacPorts"
I'm having trouble getting a working CVXOPT installation.  I can use the following command to install CVXOPT under Mavericks:

  sudo port install cvxopt -dsdp

(note that -dsdp is required to keep from using the DSDP package, which has known problems due to lack of recent updates).  When I do all of that and try to run robot_continuous.py, I get

[code]

This doesn't appear to be a problem with T

[2013-12-22 07:48] #45 closed, assigned to murrayrm

[2013-12-23 15:35] #4 closed, assigned to johnyf

[2013-12-23 15:50] johnyf opened #46 "support for integer domains"
There had been a discussion about supporting integer domains (or as suggested by @slivingston, arbitrary finite domains). This is motivated by the need to avoid explicitly encoding mutual exclusion and its associated computational cost when using only Boolean variables.

One open question was how to describe this in `tulip`'s temporal logic syntax.

[2013-12-23 18:01] murrayrm opened #47 "Can't find dot_parser"
I'm getting an error whenever I run tulip about not being able to find dot_parser.  This occurs on import of pydot:

[code]

Not sure it matters, but if anyone has any suggestions, let me know.

[2013-12-30 16:07] murrayrm opened #48 "Sort out what version of numpy (and other packages) to require for TuLiP"
As part of commit ce7d868, we bumped the requirement for NumPy up to 1.7+.  Some stable distributions of linux (and Mac OS X?) use NumPy 1.5.  We should decide what we want to support.  Opening this issue to create a place for discussion.

[2013-12-30 16:26] johnyf opened #49 "move polytope functions to mpt namespace"
If we decide to use primarily methods in `tulip.polytope`, instead of functions, keeping the functions available (as method wrappers) can benefit `MPT`-familiar users, as noted by @necozay.

A suggestion is to move the functions to a separate namespace `mpt` which the user can import if so desired. This is in the spirit of `matlab` compatibility layers, e.g., in the python control systems library.

[2013-12-30 16:28] johnyf opened #50 "trade-offs of methods vs functions in polytope"
This concerns the difference in efficiency of using methods instead of functions for `Polytope` and `Region` methods. This refers to the extra memory consumed by `Polytope` and `Region` objects, because a large number of them is created from the discretization procedure. So equipping them with additional methods just increases the memory needed per instance. There are a number of arguments:
- read

[2013-12-30 16:29] johnyf opened #51 "addition operator used for polytope union or minkowski sum"
It is convenient to define magic methods as `Polytope.__add__` and `Region.__add__`, to write `p1 + p2` compared to using `pc.union(p1, p2)`.
ae6fadc8b377f4f90e453c53f45f27832d10a55a and 86cf51df531388295e42be60bf9848be3e76a575 are towards this direction, implementing for `Polytope` and `Region`:
- `+` for union
- `-` for difference
- `&` for intersection

with `*` suggested for the Minkowski sum,

[2014-01-03 19:06] #43 closed, assigned to slivingston

[2014-01-03 22:35] #50 closed, assigned to johnyf

[2014-01-03 22:39] #49 closed, assigned to nobody

[2014-01-06 15:08] johnyf opened #52 "combining GRSpec with system TS and environment TS"
The overall GR(1) problem spec can result from the union of:
1. "manually" written spec
2. the spec resulting from the system TS, and
3. the spec resulting from the environment TS.

Each part of `(env_init, env_safety, env_prog, sys_init, sys_safety, sys_prog)` can result as a conjunction of any combination of the previous. For example [this post](https://github.com/tulip-control/tulip-control/iss

[2014-01-06 15:31] #2 closed, assigned to johnyf

[2014-01-06 15:44] #10 closed, assigned to johnyf

[2014-01-06 15:49] #47 closed, assigned to nobody

[2014-01-07 05:09] necozay opened #53 "controlled switching results does not seem correct"
if I am not missing something `developer\robot_controlled_switching_test.py` is a trivially unrealizable problem: four grid cells, only control is in left-right direction, no up-down control (nondeterministic transitions in that direction), the spec requires infinitely often visiting upper cells. tulip says it is realizable.

[2014-01-10 06:37] #21 closed, assigned to johnyf

[2014-01-10 07:45] #46 closed, assigned to johnyf

[2014-01-11 23:37] #51 closed, assigned to johnyf

[2014-01-26 11:34] johnyf opened #54 "pyparsing too slow"
Using `pyparsing` in `spec.parse` is too slow for cases with many states, e.g., the [fuel tanks example](https://github.com/tulip-control/tulip-control/blob/3655d42386d051864779db1c31927c10a48f72b1/examples/developer/fuel_tank/double_tank.py) (~300 states) doesn't work, because parsing takes too long. An examples is:

[code]

[2014-01-27 09:05] #54 closed, assigned to johnyf

[2014-01-29 19:56] johnyf opened #55 "import common logic specification in examples"
Most of the examples in `examples/robot_planning` use exactly the same (parking) logic specification (the part which is manually written by the user). This leads to duplication both of code and of (detailed) comments. Roughly half of each example file is duplicated. This distracts the new user who is unaware of what the real differences they should focus on are (in most cases the TS, or the way it

[2014-01-30 02:14] johnyf opened #56 "Merging original partitions of pwa modes"
As of ef252bdd49641d3b5f6253cbec1c39b5dc99026f `abstract.discretization.AbstractSysDyn.original_regions` stores a list of `Region` objects of the `PropPreservingPartition` from which the discretization started.

But `discretize` [firstly partitions](https://github.com/tulip-control/tulip-control/blob/ef252bdd49641d3b5f6253cbec1c39b5dc99026f/tulip/abstract/discretization.py#L204) the given `PropPre

[2014-01-30 08:09] johnyf opened #57 "design of PropPreservingPartition"
Admittedly `PropPreservingPartition` is:
- a long name
- the "preserving" cannot be checked from within the class, because the continuous propositions are not stored (of course they can be recovered by uniting for each AP all regions containing that AP in their label)
- good name to remind of its properties

Mostly for convenience, we could rename it or create an alias, similarly to `OpenFTS`. Sug

[2014-01-31 04:57] johnyf opened #58 "support extended state machines"
`tulip.transys` currently supports state machines, but not extended state machines, which include state variables and actions on them (set actions). The definitions of [Lee & Seshia](http://leeseshia.org/) are adopted.

State machines have only action labels on edges, so in order to decide the values of outputs (subset of system variables) at a state, an incoming transition is needed.

This become

[2014-01-31 07:42] #55 closed, assigned to nobody

[2014-01-31 08:43] johnyf opened #59 "save abstractions"
An abstraction can take a long, to a very long time. There might exist simple bugs later in the code. Or the partition might need different parameters. Or changes might be needed to the continuous propositions to make the problem realizable.

Studying the resulting abstraction is needed to trace each problem's root cause. Currently this requires either re-running the file, or working in a python c

[2014-01-31 18:57] #53 closed, assigned to johnyf

[2014-01-31 21:10] #57 closed, assigned to johnyf

[2014-01-31 23:09] #16 closed, assigned to johnyf

[2014-01-31 23:12] #5 closed, assigned to johnyf

[2014-01-31 23:49] johnyf opened #60 "simulate discrete-time PWA systems"
Integrate with event-triggered semantics (events are arrivals at new cells):
- RHC (not RHTLP simulation, which seems to be the topic of #41), i.e., individual transitions using `get_input`(to be renamed)
- finite state machine simulation

[2014-02-01 00:01] johnyf opened #61 "simulate discrete-time switched systems"
Depends on #60. Requires some decisions related to:
- If the states are controlled by the system, then:
  - If the modes are controlled by the system, then no user input is needed
  - If the modes are controlled by the environment, then a sequence of modes has to be provided at the start or interactively, or randomly generated. Note that the environment switching must comply with the `env` TS. So

[2014-02-01 01:45] johnyf opened #62 "symmetry of PPP.adj"
If the adjacency matrix of a `PropPreservingPartition` is always spatial (or transitively derived from a 1-hop spatial base), then memory and processing efficiency can be improved by storing a symmetric sparse matrix. Also, this would allow enforcing symmetry by error checking.

Existing code as in de4e1061c7831fcc74b6d252a1e622bf7adcf73e exploits the symmetry, so the motivation is primarily error

[2014-02-01 05:42] #56 closed, assigned to johnyf

[2014-02-01 10:10] #52 closed, assigned to johnyf

[2014-02-25 23:37] stephanietsuei opened #64 "Fails to merge discretized partitions of a hybrid system with pwa modes"
[code]

[2014-02-26 11:03] johnyf opened #65 "parallelize switched system discretization"
To gain an advantage on multi-core machines. This computation is highly parallelizable. For each mode a separate process can run `discretize` on a different core. [`multiprocessing`](http://docs.python.org/2/library/multiprocessing.html) is [suggested](http://stackoverflow.com/questions/3044580/multiprocessing-vs-threading-python). Transition recovery can also be fully parallelized.

[2014-03-02 21:17] wmgithub opened #66 "How to use the controller synthesized by TuLiP?"
I am quite new to TuLiP, and my goal is to synthesize a reactive controller using TuLiP and do a simulation elsewhere. Now I managed to get the controller as an instance of `MealyMachine` class (using `synth.synthesize('gr1c', specs, sys))`, but how can I use it in other places? For example, given (possibly, a list of) values to input variables,  how do I get the output from the controller? Doing

[2014-03-04 08:35] stephanietsuei opened #69 "XML Output"
I am working on XML input and output of data structures. Since it looks like several of us, including me, will want this feature very soon, we should discuss what this module should do as soon as possible.
1. **Which data structures need to be outputted?** Currently, I plan on writing importers and exporters for the new `AbstractSwitched` and `AbstractPwa` classes and all the underlying data struc

[2014-03-07 00:17] slivingston opened #70 "MathSet.add_from adds tuples twice"
[code]

[2014-03-08 11:13] johnyf opened #71 "rewrite labeled_graphs"
By subclassing `networkx.MultiDiGraph` and introducing labeling checking in `__getitem__` and other methods, to seamlessly integrate with it and maintain as much as possible a common interface. Attributes like `states` and `transitions` are straightforward and we might want to keep them, together with their `add`/`remove` methods.

But the label-handling mechanisms are convoluted and a constant so

[2014-03-08 11:14] #70 closed, assigned to johnyf

[2014-03-14 08:05] #64 closed, assigned to stephanietsuei

[2014-03-17 11:58] johnyf opened #72 "monitor condition number of Polytope"
To make the user aware of how bad ill-conditioning is in their problem, a quick search leads, e.g., to [this paper](http://www.sciencedirect.com/science/article/pii/016763779500019G).

[2014-03-17 12:49] johnyf opened #73 "improve polytope efficiency"
Optimize the heavily used functions and methods in `polytope`.
Possibly by pushing somethings to `C` using `Cython` (optional, i.e., installation shouldn't break in case compilation fails).
The profiler says:

[code]

[2014-03-19 05:26] johnyf opened #74 "discretize produces incomplete spatial adjacency matrix"
The implementation in `discretize` produces a (symmetric) spatial adjacency matrix, where a 1 signifies that two regions are adjacent. However, the code [updating the adjacency matrix](https://github.com/tulip-control/tulip-control/blob/a7f39d1770719304b92ecaac0881b66bc666b5a2/tulip/abstract/discretization.py#L464) seems to not be adding at all adjacencies between regions that result from [separat

[2014-03-22 11:34] #74 closed, assigned to johnyf

[2014-03-24 08:49] #71 closed, assigned to johnyf

[2014-03-26 01:28] wmgithub opened #77 "How to combine integer states in controller synthesis"
In the document http://tulip-control.sourceforge.net/doc/specifications.html#tulip-ltl-syntax, it is mentioned that:

"A variable declaration is of the form `name : domain;`. It may span multiple lines. The domain may be
`boolean`, if the variable (i.e., atomic proposition) can either be `True` or `False`;
`[a,b]`, where `a` and `b` are integers; or
`{...}`, where `...` is a comma-separated list.

[2014-03-26 09:48] johnyf opened #78 "label formatting handlers for LabeledDiGraph"
`LabeledDiGraph` already [supports](https://github.com/tulip-control/tulip-control/blob/switched/tulip/transys/labeled_graphs.py#L659) defining different formatting for each label type, for exporting to `dot` and plotting in figures (which is also done using `dot`).

It will be good to improve and extend this interface, so that custom formatting functions can be passed, i.e., a flexible mechanism

[2014-03-28 21:43] johnyf opened #79 "verify synthesized strategies with spin"
This will increase our confidence in `tulip` and provide the first dependable check that from input to output, `tulip` appears to behave correctly. Also, it can help creating tests for the overall pipeline ("unit" probably is a misnomer in this particular case).

Note that this task is far from trivial. Firstly it requires deciding, implementing and documenting the initial state semantics ([this d

[2014-03-29 19:24] wmgithub opened #80 "Demo needed for reactive synthesis with (contiguous) integer states"
This issue follows my previous problem #77 . I want to use some contiguous integer-value states in a reactive control problem. I got two problems here. And I hope that we can have a successful demo of reactive synthesis that convince me that it can work with integer-value variables.
1. I wrote two programs with exactly the same specifications (which can be verified by `print specs`), but the one w

[2014-03-30 19:40] #80 closed, assigned to nobody

[2014-04-08 03:50] necozay opened #81 "allow state dependent disturbance bounds"
It would be nice to allow `Wset` depend on the state:

[code]

This is useful in applications where we know that the disturbance can be in arbitrary directions in the interior of the domain but maybe it never kicks the state out of the domain (i.e., not extremely adversarial on the domain boundary).

[2014-04-08 05:21] necozay opened #82 "continuous.py stalls with cvxopt native solver"
When not using `glpk`, the example `continuous.py` seems to stall. I've waited about 40 minutes, then I gave up. It seems to work fine if I increase the input bound to 5. Possibly related to #23 and #73.

[2014-04-08 05:30] necozay opened #83 "error in continuous.py"
I'm trying to run `continuous.py` with `gr1c 0.6.1`. I'm not sure if this is due to my `gr1c` version being old. The error message is not very informative so I thought I would share. I've changed the following lines:

`input_bound = 15.0`

and

[code]

Here is the error I got:

[code]

[2014-04-08 15:58] #83 closed, assigned to nobody

[2014-04-09 04:24] #73 closed, assigned to nobody

[2014-04-09 04:28] #72 closed, assigned to nobody

[2014-04-09 04:36] #6 closed, assigned to emwolff

[2014-04-09 04:38] #23 closed, assigned to nobody

[2014-04-09 04:50] johnyf opened #84 "support gr1c initial conditions specification"
New feature of `gr1c`, described [here](http://slivingston.github.io/gr1c/md_spc_format.html#initconditions).

[2014-05-03 23:49] wmgithub opened #85 "incorrect strategy generated by gr1c"
I was trying to use TuLiP in a reactive control problem, but sometimes the automaton I generated cannot satisfy my liveness guarantee, while the assumptions in the spec can be easily satisfied. To illustrate this, see the following simple demo. There is one environment variable 'env1' and one system variable 'loc', they don't really interact (env1 doesn't appear in the guarantees). And the automat

[2014-05-04 08:07] johnyf opened #86 "directly loading gr1c xml returns incorrect Mealy machine"
Manually running `gr1c` on a spec file and saving the result in `strategy.xml`, then:
[code]
returns the wrong `MealyMachine`, due to how `interfaces.gr1c.aut_xml2mealy` has recently come to depend on the `spec0`argument. This was expected. Fixing it should become part of refactoring `interfaces`:

- introduce a `StrategyAutomaton` class, or game graphs or something analogous.

- `interfaces.gr1c`

[2014-05-16 18:27] necozay opened #88 "developer/transys examples are not working"
I think the `transys` examples are obsolete. They all fail. E.g.,

[code]

gives the error: 'State' object has no attribute 'label'.  I think this has been replaced by `fts.states.add` and `fts.states.add_from`. Though information/examples as to how to use them are kind of limited.

[2014-05-16 23:33] necozay opened #89 "improve transys documentation (both API doc and tutorial)"
I spent almost an hour to figure out how to create a transition system in `TuLiP` and then gradually add attributes (and I still don't know how, so I'm giving up on it). I'm not sure if this is because the functionality does not exist or if it is there but not well-documented. I think `transys` now heavily uses `networkX`. For `TuLiP` users who are not particularly familiar with `networkX`, it wou

[2014-05-17 01:07] #88 closed, assigned to johnyf

[2014-05-17 14:41] necozay opened #90 "feature request(s) on transys AP labeling"
Following from the example in #89:

This is the implementation that I could come up with based on the suggestions by @johnyf :
[code]
Couple of suggestions that might improve usability of `transys` (based on what I feel confusing):
* It might be useful to have a single function for incremental addition of labels instead of eight lines that require rewriting the label set each time.
* When the `ato

[2014-05-24 03:20] necozay opened #91 "function for removing deadend states in synthesized mealy machines"
When we add a moving obstacle to robot planning example `gr1.py`, the synthesized controller (either with `jtlv` or `gr1c`) has dead-end states where environment violates its safety assumption. The controller looks correct since under normal conditions (as long as the environment follows its assumptions) these states would not be reached. However, when we use `simulate` method to simulate some ran

[2014-06-25 07:04] slivingston opened #93 "Too many initial states"
The specification described by

[code]

results in strategies that visit the valuation `x=1` for at least two reasons: in pursuit of `x=0` or in pursuit of `x=2`.  It follows that a Mealy machine providing a strategy will have at least two states.  The outputs of both of the currently supported formal synthesis tools, `gr1c` and the `solver bundled with JTLV`, are finite-state machines that have l

[2014-07-04 03:09] #12 closed, assigned to nobody

[2014-07-07 04:17] #84 closed, assigned to slivingston

[2014-07-14 07:41] #91 closed, assigned to johnyf

[2014-07-29 04:05] johnyf opened #94 "matplotlib considered harmful"
Yes it is me saying this... according to `cProfile`, `matplotlib` consumes an embarrassing amount of time to load itself. The result: every run, however irrelevant plotting might be for it, loads `matplotlib` and thus cannot run faster than a fixed minimal amount of time (on average).

These effects can be avoided by loading `matplotlib` only in plotting functions, *not* at the top of files. For e

[2014-08-02 17:40] necozay opened #96 "duplication of ts state name as ts atomic proposition leads to invalid solver input"
If I create a transition system `ts` with `'somestring'` as one of its states (i.e., a node of the `LabeledDigraph`) and label the state `'somestring'` with an atomic proposition `'somestring'`, and if I have a specification `spec` that involves the `AP` `'somestring'`; when I call `synth.synthesize` with `ts` and `spec`, it creates an invalid specification and sends it to the solver. This results

[2014-08-03 06:42] #14 closed, assigned to johnyf

[2014-08-03 07:16] #66 closed, assigned to johnyf

[2014-08-09 00:02] johnyf opened #97 "support symbolic edge annotation for automata"
As of 9810b2ab894a4a6299cc02e0705d72429c482273 `transys.automata` use explicit edge annotations with "letters". Each letter is a subset of atomic propositions. Rudimentary support for symbolic annotations (guards) [exists](https://github.com/tulip-control/tulip-control/blob/9810b2ab894a4a6299cc02e0705d72429c482273/tulip/transys/labeled_graphs.py#L73), but has not been used.

For generators, each s

[2014-08-15 20:46] johnyf opened #98 "only_mode_controlled fails with jtlv"
The example `examples/robot_planning/only_mode_controlled.py` at 14a2c7d8b15686321c1365f10e102c5c112a3ed1 fails with the exception:

[code]

apparently what happens is that the integer domain support introduced in ccbb669eed9c6f2f5d5f80d4d68fc92d62a8acad does not include arbitrary finite domains. The reason is the substitution that instead happens [in `GRSpec.to_gr1c`](https://github.com/tulip-con

[2014-08-26 12:19] johnyf opened #99 "tulip LTL syntax for arbitrary finite types is ambiguous"
Consider a variable that is not a Boolean nor an integer, but can take values from an arbitrary finite domain. Currently such domains are allowed to be represented in tulip using "names" in the formula ("names" refers to the production rule in the PLY parser generator). This is exactly the same as the syntax for variable references.

So within an LTL formula it is impossible to distinguish variabl

[2014-08-26 20:33] johnyf opened #100 "cache the AST of each GR(1) clause"
Parsing of huge clauses can consume some time. With `pyparsing` that time was unacceptable, but with `PLY` it is typically unnoticed. In any case, as of 7048530f0884ce3d1e028b27bae9a98f9fc11a68 calls `to_gr1c` and analogous functions can occur multiple times within `GRSpec`. So storing the resulting AST seems like a good idea to reduce duplication of computation.

This can be done for example by m

[2014-08-27 21:59] necozay opened #101 "continuous.py fails when disturbance is set to none"
When I set `E=None` and `W=None` in `continuous.py`, it gives the following error:

[code]

[2014-08-29 06:06] necozay opened #102 ""not equal" (!=) for integer domains is not working"
I have an integer variable `level`. If I use `(level!=1)` or `(level != 1)` in my spec, `gr1c` returns with code `-11`. If I use `!(level = 1)`, it works fine. The former representation also seems to be consistent with the LTL syntax here:
http://tulip-control.sourceforge.net/doc/specifications.html#tulip-ltl-syntax

[2014-08-29 19:43] #102 closed, assigned to nobody

[2014-08-31 04:52] #77 closed, assigned to johnyf

[2014-09-03 09:30] #58 closed, assigned to johnyf

[2014-09-05 23:51] necozay opened #104 "problem with guided simulations"
`set_input_sequence` in `MachineInputSequence` is not working when the `input_port_type` is a set of integers. I get the following error when trying to create an input sequence:

[code]

I believe this will not be needed in `guided_run` after #95 is merged. But [the line](https://github.com/tulip-control/tulip-control/blob/convert_gr1/tulip/transys/executions.py#L358) causing the error seems to be

[2014-09-12 22:36] necozay opened #105 "sort out required and optional dependencies and separate test coverage accordingly"
`setup.py` makes a distinction between required and optional dependencies. So if one has all the required dependencies, the installation completes without an error. However, there is no such distinction in tests. After a successful installation, proceeding with tests typically results in a bunch of errors (mostly due to lack of some optional dependencies). This is quite confusing for new users.

M

[2014-10-04 02:55] slivingston opened #109 "Decide on default functionality and engines that are part of "core" Tulip"
We need to sort out what Tulip should do "out of the box". Things like whether we use jtlv and gr1c, how to deal with cvxopt, etc. There are a couple of issues related to this; please add some comments on this here.

(moved here from python-control/python-control#39)

[2014-10-10 07:27] vraman opened #111 "integrate branch "invariants""
Due date: Oct 12.

[2014-12-03 19:14] #85 closed, assigned to slivingston

[2014-12-10 23:55] #111 closed, assigned to vraman

[2014-12-12 00:39] #3 closed, assigned to johnyf

[2014-12-12 00:39] #93 closed, assigned to johnyf

[2014-12-12 00:39] #96 closed, assigned to johnyf

[2014-12-16 15:32] murrayrm opened #115 "Add STL syntax to TuLiP (specs module?)"
It would be very useful to be able to start using STL in TuLiP specifications, including (eventually) the quantitative semantics, which will allow for things like robust plans.  Depending on how many changes to the specs module are required, this could be a 2.0 type of feature.  But if we can start thinking about ways to add this in, I think it would be quite useful in the long run.

[2014-12-17 15:37] necozay opened #116 "developer/fuel_tank/double_tank.py is not working"
This example seems to get stuck when called with "python double_tank.py":
[code]
Also, when I call it from within python (interactive mode), it gets back to the command prompt after a while without returning any `sys_ts` to the workspace. When I try to exit the interactive mode, I notice that one of the processes is indeed still running at the background.

[2015-01-21 18:33] slivingston commented on #29
For posterity, in commit c22bfdb9098b91e87f70b74c6e90dd651775fc38 the only test of `replace_dependent_vars()`, which was introduced in 384b6aa81ed2261b610238b7472381e5967dde19 as stated in a comment above, was moved to `tests/form_test.py`.

[2015-01-21 18:33] #29 closed

[2015-01-21 19:05] #86 closed

[2015-01-22 15:50] #90 closed

[2015-01-22 16:23] slivingston commented on #94
To support "it is suggested that this convention..." [above](https://github.com/tulip-control/tulip-control/issues/94#issuecomment-52112823), I wrote the recommendation under [Inline imports](https://github.com/tulip-control/tulip-control/wiki/Drafts-of-code-conventions#inline-imports) on the [Drafts of code conventions](https://github.com/tulip-control/tulip-control/wiki/Drafts-of-code-convention

[2015-01-22 16:25] slivingston commented on #94
All of the import lines in `tulip/transys/export/__init__.py` were commented-out and have been so for a while, so I deleted them in c8f821793035660b910e586cff625092193deb79

[2015-01-22 16:25] #94 closed

[2015-01-22 19:27] slivingston commented on #99
For posterity, I ran the timing script [above](https://github.com/tulip-control/tulip-control/issues/99#issuecomment-53971202) against c7be6b7a85801324ea243689985043e823a5fc69 on Python 2.7.6 and Ubuntu 14.04 with Linux x86_64 running on 2.40GHz Intel Core i7 and obtained similar ratios of times, thus supporting the conclusions above.

When I run the small script `test_double_quotes.py` [above](ht

[2015-01-22 19:27] #99 closed

[2015-01-22 19:41] slivingston commented on #101
As of c8f821793035660b910e586cff625092193deb79 (tip of `master` at time of writing), the error still occurs when the JTLV solver is used. Switching to gr1c, as suggested by @johnyf [above](https://github.com/tulip-control/tulip-control/issues/101#issuecomment-53650763), leads to synthesis of a strategy.

I am not sure what is meant by "The issue is resolved..." in [the previous comment](https://gi

[2015-01-22 19:41] #101 closed

[2015-01-22 20:08] #98 closed

[2015-01-22 20:29] slivingston commented on #100
I want to propose an alternative term to describe the feature introduced in this issue: "memoization".  "Cache" seems too general, motivating my question [above](https://github.com/tulip-control/tulip-control/issues/100#issuecomment-53502364) in reply to the opening post. Usually a function `f` is said to be memoizing when it saves a (hidden) copy of results associated with a particular setting of

[2015-01-22 20:37] slivingston commented on #100
I was able to repeat the timing experiment using the script [above](https://github.com/tulip-control/tulip-control/issues/100#issuecomment-53672293) against commits 265f54ec7486c99e58a43d6986e1ddae04347600 and 0ae146b2b02149ff27e3e7f59546d6c91de91a3e , and I observed similar ratios of times, thus supporting the above conclusions about performance improvement.

For posterity, the timing script give

[2015-01-22 20:37] #100 closed

[2015-01-22 20:44] #104 closed

[2015-01-23 00:07] slivingston commented on #93
For posterity, [the comment above](https://github.com/tulip-control/tulip-control/issues/93#issuecomment-54002579) about consideration of exporting to Simulink concerns code under the directory `contrib/matlabsim/` as of [c8f821793035660b910e586cff625092193deb79](https://github.com/tulip-control/tulip-control/tree/c8f821793035660b910e586cff625092193deb79/contrib/matlabsim).

The two links near the

[2015-01-23 00:20] slivingston commented on #93
The discussion on this issue is excellent. I recommend that we use it for a section on nondeterminism in a yet-to-be-created page about transducers in the User's Guide. :feelsgood:

[2015-01-23 01:06] johnyf commented on #100
Thanks for suggesting the term “memoization”, it is a more accurate description. Also, the lone `next(c)` must be an error in writing the formula, thanks for finding it.

[2015-01-30 04:16] johnyf opened #117 "use `dict` to declare type"
PEP 20: explicit is better than implicit. Inferring the type of a variable from the data type used to describe its domain is fragile. As of c8f821793035660b910e586cff625092193deb79:
- the value `boolean` signifies that the variable is of Boolean type
- a 2-`tuple` signifies that the variable is of integer type
- a `list` signifies that the variable is of enumerated type, where its possible values

[2015-01-30 04:21] johnyf commented on #117
For later reference: this time the above error was caused by dumping to `json` a table of symbol definitions, represented as a `dict`, then loading it back, which resulted in the `tuple`s that represented the ranges of integer variables being silently converted to `list`s.

[2015-02-13 02:58] #32 closed

[2015-02-19 23:30] necozay opened #120 "tulip "fails" when the spec is unrealizable"
I have changed a few lines in  `continuous.py`:
[code]
so that it is unrealizable. When I run it with `jtlv`, `ctrl` is not defined in the end but I don't get any error messages.

When I run it with `gr1c`, it fails with an error message about mealy machines (logging output is below).

I don't know which behavior is the expected one. Though telling the user that the spec is unrealizable without fa

[2015-02-20 00:30] vraman commented on #120
With JTLV, the default behaviour of synthesize() when the specification is
unrealizable is to return a list of counter-examples (environment-winning
initial states). For gr1c, it is to return None.

Neither is completely defensible, but in either case, there should be some
indication that synthesis has failed.

Vasu

On Thu, Feb 19, 2015 at 3:30 PM, necozay <notifications@github.com> wrote:

[2015-02-20 00:37] necozay commented on #120
Then this is probably a bug because I don't see any counter-examples when using jtlv and I don't see none when using gr1c. Maybe one needs to check the strategy content before line 1095 in `synth.py`:
[code]

[2015-02-20 01:05] johnyf commented on #120
With gr1c v0.9.0 the above returns:
[code]
I think that for unrealizable designs one is supposed to see `None`. The above reminds me of something, as if I had fixed it at some point, by adding a missing check and early `return` at the top of `mealy2strategy`, but I can't find it. I see that it originates from labeled graphs, which don't exist any more in my version.

[2015-03-25 21:59] slivingston commented on #109
gr1c is now the default GR(1) solver and is a required dependency as of [10033772549067960fbd021008393b4d4d90dd1b](https://github.com/tulip-control/tulip-control/commit/10033772549067960fbd021008393b4d4d90dd1b). This decision was reached via the tulip-control-discuss mailing list thread around [21 Jan 2015](https://sourceforge.net/p/tulip-control/mailman/message/33250491/).

[2015-03-25 22:53] slivingston opened #123 "Where to offer the JAR file that contains the JTLV-based solver?"
As of [10033772549067960fbd021008393b4d4d90dd1b](https://github.com/tulip-control/tulip-control/commit/10033772549067960fbd021008393b4d4d90dd1b), [gr1c](http://scottman.net/2012/gr1c) is the default GR(1) solver. However, the JAR file that contains the JTLV-based solver (`tulip/interfaces/jtlv_grgame.jar` in the source tree) is still included among release distribution files, via [MANIFEST.in](htt

[2015-03-26 00:09] johnyf commented on #123
The response that I originally favored was to move it under `extern`, and not include it in `MANIFEST.in`, because it blows up the distribution on PyPI, unnecessarily increasing the server load.

I support deleting it completely from the `tulip` repository, for the following reasons:

- moving it to `extern` may create a new object in the `git` history, unnecessarily increasing the repository size

[2015-03-26 17:09] slivingston commented on #117
I think that your proposed action item is a nice long-term solution insofar as we hope to introduce more types.  However, the difficulty that you have encountered---of failing to use a `tuple`, e.g., due to silent conversions---can be addressed by the following alternative actions:

* a variable is of integer type if its domain is an iterable with length two and has both elements of type `int`.
*

[2015-03-26 17:49] slivingston commented on #116
I was able to reproduce this error as of commit 1d465f76ea1907462d51444000adfa6a8d60b91c and am working on a fix now. For reference, an exception is raised if `double_tank.py` is modified to not use `multiprocessing`, e.g.,

[code]

[2015-03-26 17:58] slivingston commented on #116
The error arises because string literals are used without double quotation marks `"` in some parts of the specification formula.

[2015-03-26 19:01] johnyf commented on #117
I agree that simplicity is generally to be preferred. However, I already use an extra `dict` attribute (as a temporary solution) in my own work, because:

- there is no other place to store additional information like an initial condition (assignment to single variable), a more refined type distinction for integers (saturating vs modwrap), or extra attributes like bitnames, when working on the spe

[2015-03-26 20:00] slivingston commented on #117
Before beginning, note that the proposed action items in the OP involve changes that break a lot of existing code or otherwise require wrappers for backwards compatibility. A general strategy I recommend is

1. identify legitimate concerns with the existing implementation, and
2. derive from existing classes if you need new behavior, so that existing interfaces that are not defective remain intact

[2015-03-26 21:08] slivingston commented on #116
After adding `"`, a new error appears. It manifests as a `TypedDict` object being assigned a new value without first setting `allowed_values`. A temporary patch while I hunt for the origin is
[code]

[2015-03-26 23:40] slivingston commented on #116
I cannot work on this anymore. To whomever wants to continue, note that the above error does not occur if `multiprocessing` is not used. E.g., try applying the patch in [my comment above](https://github.com/tulip-control/tulip-control/issues/116#issuecomment-86643298) to use `tulip.abstract.discretize_switched()` and notice that no error is raised regarding `TypedDict`.

[2015-03-26 23:44] slivingston commented on #117
I just removed the `1.2.0` milestone to not arbitrarily restrict the timescale on which this issue is addressed, especially if we decide to use a `dict` or introduce symbol tables, etc.

[2015-03-27 22:07] murrayrm commented on #117
Can someone give an example of how user code would be modified under the proposed change?  A before/after example would be good, perhaps one of the standard examples that we use?

[2015-03-31 18:26] slivingston opened #124 "Improving behavior of the class TypedDict"
This issue is relevant as of 8449c7f83e75420995963adde087db35c0f2219e and likely earlier versions.

Instantiation of `tulip.transys.mathset.TypedDict` results in an object that is not fully initialized until the method `set_types()` is called or the attribute `allowed_values` is created. My recommended action is to add `allowed_values=dict()` to `TypedDict.__init__()` because of the following exis

[2015-05-04 16:14] necozay opened #125 "finding the post states in a FTS"
I have a FTS `env_fts`. I want to find from state `s1`, with `sys_action = 'a1'`, what the possible post states are. Is there a simple command for doing this? My current solution requires couple of lines of code.

[2015-05-04 18:06] slivingston commented on #125
Try something like
[code]

[2015-05-12 22:14] slivingston commented on #125
@johnyf Do you have any recommendations?

@necozay Does my reply qualify as "simple" from your perspective, so as to be sufficient to close this issue? Or was your original intent in opening this issue to collect a variety of expressions for computing possible post-states?

[2015-05-12 22:39] necozay commented on #125
Thanks @slivingston, your response is close to what we ended up doing. When done in a less pythonic way (as I usually do things), it takes a few lines of code. I was expecting something simpler and thought that we could not find it due to lack of documentation. Therefore, I opened the issue.

It might be convenient to have a method for this as it is a very natural operation when working with trans

[2015-05-13 09:29] johnyf commented on #125
An approach using the `networkx` method [`edges_iter`](https://networkx.github.io/documentation/latest/reference/generated/networkx.MultiDiGraph.edges_iter.html?highlight=edges_iter#networkx.MultiDiGraph.edges_iter)  is

[code]

This is also what [`Transitions.transitions.find`](https://github.com/tulip-control/tulip-control/blob/972ba362efcc5658197d56d44f7b19bd1a553694/tulip/transys/labeled_graph

[2015-05-19 04:56] slivingston commented on #15
Following private communication with @johnyf, I am closing this issue. It is too much effort and too little benefit for us to maintain a MacPorts Portfile in addition to our other, preferred distribution media. There are already Portfiles for all of the difficult dependencies of TuLiP, namely [gr1c](https://trac.macports.org/browser/trunk/dports/math/gr1c/Portfile) and [cvxopt](https://trac.macpor

[2015-05-19 04:56] #15 closed

[2015-05-19 21:20] slivingston commented on #33
Best practices and available tools have improved substantially since original creation of this issue, motivating its rekindling and generalization beyond VirtualBox.

[2015-05-19 21:36] slivingston commented on #33
The OP will have been addressed when two use-cases are treated:

1. spawning an instance on [AWS](http://aws.amazon.com) that has the current release of TuLiP installed;
2. running (possibly after building on-demand) an image of a 64-bit Linux distribution in [VirtualBox](https://www.virtualbox.org) that has TuLiP installed.

In both cases, the process of round-trip usage on a local host should be

[2015-05-22 21:44] necozay opened #126 "docstring of synthesize requires revision"
As far as I see, both `gr1c.synthesize` and `jtlv.synthesize` return `Digraphs` when a strategy exists, but the doc strings say they return an instance of a `MealyMachine`.

[2015-05-22 21:50] necozay commented on #120
I have a small fix for this "bug", which involves the following changes:

[code]

Should I push it directly to the master branch or should I open a pull request? It seems a bit of an overkill to import `networkx` but given the different objects `jtlv` and `gr1c` interfaces return in case of unrealizability, this was a relatively uniform solution.

[2015-05-23 00:40] slivingston commented on #126
Confirmed. For `gr1c.synthesize()`, the two relevant changesets leading to this error are
* 7db7e9fdd40a4661ac4c03651fa263b024f36cb9, where the return value of `aut_xml2mealy()` changed to be of type `networkx.DiGraph` for the second return path; note that `aut_xml2mealy()` has since been renamed to `load_aut_xml()`
* 74807640a1a1fe6da2e579189dc5ce4a0b0ea118, where `gr1c.synthesize()` was modified

[2015-05-23 00:47] slivingston commented on #126
For `jtlv.synthesize`, the two relevant changesets are
* afd427365ec8e0a580a3bab09a4ecad1171f595c, where the return type of `load_file()` changed to `networkx.DiGraph`; note that `load_file()` has since been renamed to `jtlv_output_to_networkx()`.
* 772eeaf6bcc8d4ed60c494c973f2924491ee9331, where the docstring of `jtlv_output_to_networkx()` was updated to declare the correct return type, but not `

[2015-06-01 17:58] #126 closed

[2015-06-03 04:11] #124 closed

[2015-06-03 04:13] slivingston commented on #124
No one replied for two months, so I am moving forward.

[2015-06-03 05:50] slivingston commented on #116
[multiprocessing.Queue](https://docs.python.org/2/library/multiprocessing.html#multiprocessing.Queue) uses pickling. Before commit 1c1ef990cfb042ec4984c9048dcd5c3644d70949, the class `TypedDict` could not be unpickled reliably, which was the last remaining cause of this issue.

[2015-06-03 05:50] #116 closed

[2015-07-21 21:51] slivingston opened #127 "Export MealyMachine to SMACH"
http://wiki.ros.org/smach

Design considerations, including my recommendations:

* Should the generated code depend on the `tulip` package? No, unless some crucial or sophisticated part of TuLiP is used in the output code. However, even then it could be better to dump the relevant part of `tulip`, especially if the required part does not involve some of the dependencies of `tulip`. One motivation

[2015-07-21 21:54] slivingston opened #128 "resurrect and rejuvenate the ROS package tulip_ros"
Last witnessed under the [directory old/contrib/tulip_ros/](https://github.com/tulip-control/tulip-control/tree/e8c783977de8546ebb3ce5cc96e9d9cb0b7bc35f/old/contrib/tulip_ros) in commit e8c783977de8546ebb3ce5cc96e9d9cb0b7bc35f

[2015-07-31 18:33] slivingston commented on #117
I think that the OP is well argued and that the action items should be performed for version 1.3.0. I recommend that this change is *not* made for version 1.2.0 for the same reasons that motivate a period of feature-freeze (i.e., no additional features; only bug-fixes) before release.

After the OP, discussion turned to other motivations and possible uses of symbol tables. While I think these coul

[2015-07-31 18:34] iamkaushik5 opened #129 "Allow partial match of inputs in reaction() of machines.py"
Hi, my name is Kaushik and I am a graduate student working with Necmiye Ozay on Tulip as part of a summer project and I wanted to bring this issue to everyone's attention regarding the reaction function in machines.py

Currently, the reaction function allows for stepping through a created mealy machine by providing the next input. However, the current function requires the input specification to m

[2015-07-31 19:37] slivingston commented on #129
I may not understand your first item, but I think that requiring all inputs is correct and as intended. Your observation that knowing all inputs is not necessary in some cases is a particular case and, I can argue, not appropriate for this function. Perhaps you want to propose a new function, or some new way to request lazy evaluation of inputs when calling `reaction()`?

Regarding the second item

[2015-07-31 20:41] necozay commented on #129
A related issue to the first point is #29. I think the issue comes up when simulating synthesis problems with an environment transition system as in abstractions of mode-only switched systems. For instance, to simulate the controller synthesized in ``only_mode_controlled.py``, in addition to ``eloc``, one needs to specify the values of ``home`` and ``lot`` propositions. Maybe an alternate reaction

[2015-08-04 16:08] iamkaushik5 commented on #129
To follow up on the error message issue, here is an example from only_mode_controlled.py. In the synthesized controller, there is only 1 path from 'Sinit' and that path is defined by the input: {'eloc': 's0', 'park':1, 'home':1, 'lot': 0}. However, if I input the following instead: {'eloc': 's1', 'park':1, 'home':0, 'lot': 0}, I get the error: "Exception: must be input-deterministic, found enabled

[2015-08-04 19:00] slivingston commented on #129
I just changed the title of this issue to focus it on the first item of the OP.

@iamkaushik5: Regarding the second item, could you make a proposal about the form of error messages by opening a pull request or sending a patch via email or as a `diff` code block in a comment on this issue?

@necozay: Let me know if this does not fall under the U. Michigan copyright.

[2015-08-04 21:07] slivingston commented on #129
@iamkaushik5: We can wait to discuss this once you propose a patch, but a word of caution: because there may be a very large number of possible inputs from a particular state, an exception message that lists possibilities may involve a very large string that crowds the output. Alternatives include:

* listing at most 3 (or some fixed number of) possible inputs;
* not listing possible inputs, and i

[2015-08-04 21:23] iamkaushik5 commented on #129
That is a good point @slivingston . I will keep these alternatives in mind when I try to code the patch. Thanks!

[2015-08-09 00:53] slivingston commented on #123
I strongly support the recommendation by @johnyf above to delete it from the repository. This issue has been open for a while, and no one has provided arguments to keep the JAR file, so we shall wash ourselves. The action item is as follows.

Create a script under `extern` that fetches the JAR file. It will be easiest and most robust to obtain the file using an old commit, e.g., the last one in wh

[2015-08-09 02:24] johnyf commented on #123
I think that a fetching script is a good idea. Related projects (`gr1c` and others) use similar approaches for fetching CUDD, `slugs` or other dependencies, especially for automated testing with Travis.

Regarding the status of `jtlv`, I can confirm that it is currently unmaintained. There do exist current users, but I do not think that there is any reason for not using a pure Python solution, ins

[2015-08-09 14:40] murrayrm commented on #123
I agree we should delete it from the distribution.  Leaving a path for people who want to install it to fetch it from our old distribution seems fine.  I wouldn't install it by default (for the many reasons already listed above).

[2015-09-08 04:47] slivingston commented on #18
@johnyf: do you still want to eventually change the names to `generators`, `acceptors`, and `transducers`? One alternative is to create a page in the User's Guide to include discussion about why different names may be desired and how to achieve it, e.g.,

[code]

Obviously renaming imports is less than satisfactory because all of the documentation will continue to refer to `automata` etc. However,

[2015-09-08 04:48] slivingston commented on #89
@johnyf: will you have a chance to address this in the next 2 days? If not, I could take a shot.

[2015-09-08 16:33] johnyf commented on #89
I can try to address this, so that it can be closed.

[2015-09-08 18:16] slivingston commented on #120
@johnyf: in [your comment above](https://github.com/tulip-control/tulip-control/issues/120#issuecomment-75172308), you seem to refer to a separate implementation ("I see that it originates from labeled graphs, which don't exist any more in my version."). Is it worth considering for this issue? If yes, could you provide a specific reference? E.g., is it the "other" branch in your fork at [johnyf/tu

[2015-09-08 22:43] slivingston commented on #129
For posterity, here is an example that demonstrates my proposed realization of the desired behavior.

[code]
which yields the output `(0, {'y': 1})` as of 5cb9d24f0c507f742a73c2d6b0c3e35e60aaf5d2 after applying my forthcoming patch of `reaction()`. N.B., the assumption of a state named `1` is fragile, but the intended behavior should be clear.

[2015-09-08 23:52] slivingston commented on #129
Realized in e6ddd91d7500837200e5d550ff4ec6e208f7172c and bb693b45e4cd7e4effcf6466350ad673617812bb

[2015-09-08 23:57] slivingston commented on #129
Continuing the example [above](https://github.com/tulip-control/tulip-control/issues/129#issuecomment-138724086), the error message that suggests possible inputs is demonstrated with
[code]
which results in "Exception: not a valid input, some possible inputs include: [{'e1': 0, 'e0': 1}]". Also,
[code]
which results in "Exception: not a valid input, some possible inputs include: [{'e0': 1}]". Plea

[2015-09-08 23:57] #129 closed

[2015-09-09 00:17] necozay commented on #129
The only condition that comes to my mind that might not be covered is the following. If someone does not use the default "trimming" function for the synthesized mealy machines and ends up in a state where there is no valid input (e.g., environment spec is violated), then the message will say something like ""Exception: not a valid input, some possible inputs include:[]" (empty set), right? Though

[2015-09-09 00:52] slivingston commented on #129
Your assessment is correct about a case in which the empty set is given. Do you recommend that, in the case you describe, the exception message should be like "state 1 is a dead-end. There are no possible inputs from it."?

[2015-09-09 01:09] necozay commented on #129
I think the error message you proposed would be the most appropriate in such a case where there is a dead-end. This is a very minor issue so I am fine if we do not address it before the upcoming release.

[2015-09-10 04:12] slivingston commented on #129
Done in ef67131ee362be0d984f4cb84a7d56d31f7447b4. A demonstration is
[code]
which yields the output "Exception: state 2 is a dead-end. There are no possible inputs from it.". N.B., this example is distinct from the use-case [described above](https://github.com/tulip-control/tulip-control/issues/129#issuecomment-138737284) but captures that the `from_state` is a dead-end.

[2015-09-10 07:36] slivingston commented on #120
I reproduced the bug using the example described in the OP when using `'gr1c'` via `synth.synthesize()` but not when using `'jtlv'`. The latter produces some output, but I expect it to be wrong. Anyway, I was able to reproduce the bug for both solvers using a smaller example that I am going to add as a regression test.

[2015-09-10 07:41] #120 closed

[2015-09-10 08:03] slivingston commented on #120
@necozay I just committed (2c2377d5b2057ce1350c022ba372409f7625ca27) a patch that relies on `strategy == None` to indicate that the request to `synth.synthesize()` is not realizable. My motivation is that we should handle the details of each solver within a conditional block, e.g., `if option == 'gr1c'`, and then once we are outside the per-tool treatment, we should be able rely on `strategy` bein

[2015-09-10 19:59] #123 closed

[2015-09-10 20:01] slivingston commented on #123
Could someone using Mac OSX try extern/get-jtlv.sh ?

[2015-09-10 20:06] slivingston commented on #123
Regarding the solution [proposed above](https://github.com/tulip-control/tulip-control/issues/123#issuecomment-86259426) by @johnyf , I do not check for `java` in the script that fetches the JAR file. The presence of `java` is already checked in `setup.py`, and I think that the script is generally more useful without requiring `java`.

[2015-09-10 20:09] slivingston commented on #79
Unless this has already been done but not committed, addressing this issue will be delayed until the next release.

Note that [gr1c](http://scottman.net/2012/gr1c) has the capability to generate Promela code for verification, as introduced [in the manual of the current release](http://slivingston.github.io/gr1c/md_verification.html).

[2015-09-10 20:44] slivingston commented on #35
I bumped the milestone for this issue because the second action item [described above](https://github.com/tulip-control/tulip-control/issues/35#issuecomment-48450038) remains. I expect that making a general and robust implementation will be a substantial effort. I recommend that the first action item [described above](https://github.com/tulip-control/tulip-control/issues/35#issuecomment-48450038)

[2015-09-10 22:03] johnyf commented on #35
I agree that this issue can be closed, considering item 1 [above](https://github.com/tulip-control/tulip-control/issues/35#issuecomment-48450038) complete.

Item 2 can be deferred. The suggested approach is syntactic and enumerative (in the sense of manipulating the syntax tree). This approach will be inefficient, cumbersome and very error prone to implement, and will still be limited to the few c

[2015-09-11 01:07] johnyf commented on #123
Tested under OS X v.10.8.5 as of 1fa52c06dc14d7e7ba2c930a489c72225cdf7dc6.

I agree that the check for presence of `java` should better happen at a single place.

Regarding the comment [above](https://github.com/tulip-control/tulip-control/issues/123#issuecomment-86259426) about a Python solver, noting that such a solver will become available for `import` in the near future.

[2015-09-11 02:52] johnyf commented on #18
No, I do not intend to rename to `generators` and `acceptors` any more, because by now I consider these as automata (with different path quantification, existential for generators, and universal for the usual acceptor found in the literature, except for alternating automata). I would merge these two and substantially simplify, as done in [`omega.automata`](https://github.com/johnyf/omega/blob/0429

[2015-09-11 03:19] johnyf commented on #120
Re [above](https://github.com/tulip-control/tulip-control/issues/120#issuecomment-138654973): I had addressed a similar issue about `slugs` on branch `johnyf/other`, in [`d99fc27976ae44771ca2fc817711491c17cc9046`](https://github.com/johnyf/tulip-control/commit/d99fc27976ae44771ca2fc817711491c17cc9046). It is similar to 2c2377d5b2057ce1350c022ba372409f7625ca27. The difference is checking `not A` as

[2015-09-11 06:11] slivingston commented on #48
As of da82dcb0fa047dbdca3b5cfd625ee2f5b82700cf, there is a requirements.txt file that lists known working and current versions of Python dependencies. In the installation page of the User's Guide, at least version 0.9.0 of gr1c is requested. The required versions of other external tools are not documented, but I think it is enough to say try the most recent and then document known failures as they

[2015-09-11 06:11] #48 closed

[2015-09-11 06:18] slivingston commented on #109
This issue has been essentially answered other places, in particular in the issues listed above and during discussions at various meetings. The original summary still captures it: "The Temporal Logic Planning (TuLiP) toolbox is a Python package for automatic synthesis of correct-by-construction embedded control software." Three clarifications:
1. emphasize *toolbox*;
2. while it definitely is a Py

[2015-09-11 06:18] #109 closed

[2015-09-11 06:25] slivingston commented on #38
To make this more interesting, we should take the action item here to be: subsume LTLMoP. In terms of capabilities, we are not far from being able to do so. Beware that LTLMoP is under GPL, so be careful not to use their code to avoid GPL-license-pollution.

[2015-09-11 06:31] slivingston commented on #65
@johnyf, what are the prospects on this?

Skimming recent changesets that affected files under `tulip/abstract/`, I understand that this is still an open issue with respect to source code in the repository. Thus I bumped the target release to 1.3.0.

[2015-09-11 06:45] slivingston commented on #59
A demonstration of using `pickle` for saving and loading abstractions is given, as of 01ffa4f96dc46a13024e9c5a3d9d7d25548d0bd9, in [lines 205-208 of double_tank.py](https://github.com/tulip-control/tulip-control/blob/master/examples/developer/fuel_tank/double_tank.py#L205-L208).

[2015-09-11 06:56] slivingston commented on #59
While it may suffice for interactive computation as described in the OP, pickling as demonstrated in double_tank.py may fail in other important use-cases, e.g., trying to use the pickled data across different versions of TuLiP, or accessing the data without TuLiP or Python. Thus I recommend that the issue remains open until the broader question of file formats is addressed, which will in particula

[2015-09-12 02:43] murrayrm commented on #38
I agree!  Given that LTLMoP is, in a simplistic sense, a front end for GR(1) synthesis, it totally fits within the vision for TuLiP.  A first step would be to be able to parse LTLMoP input into grspec compatible form.

[2015-10-08 03:50] psraditya commented on #66
If I try to print the controller generated using gr1c I see the input and output set of states but don't see anything under transitions and labels. Why is it so?

[2015-10-08 06:18] johnyf commented on #66
Can you please elaborate on:

1. version or commit hash of repository used
2. the controller generated using `gr1c` as an instance of a `networkx` graph, or a Mealy transducer ?
3. for which specification: a minimal working example would help

For instance, the string representation of a Mealy transducer is created [here](https://github.com/tulip-control/tulip-control/blob/ef67131ee362be0d984f4cb8

[2015-10-18 14:21] slivingston commented on #33
The second use-case is addressed, and the proposed solution is available as a [Vagrant](https://www.vagrantup.com/) [file under contrib/](https://github.com/tulip-control/tulip-control/blob/cdbe95e9baa99e360ffbd38a87a4cb0312ad6c06/contrib/Vagrantfile). It has been tested both locally under Linux x86_64 and also on a remote host with non-superuser capabilities; the latter is documented at [contrib/

[2015-10-18 14:52] slivingston commented on #33
I shifted the first use-case to a later milestone because it may require a few iterations to arrive at a reliable solution because achieving round-trip file manipulation for an EC2 instance on AWS in a more sophisticated manner than repeated usage of `scp` is difficult. Furthermore, my Vagrantfile includes a script that is known to be sufficient for bootstrapping a fresh Ubuntu installation, so de

[2015-10-19 02:43] slivingston commented on #105
A predicated test suite driven by `run_tests.py` is implemented as of cdfb3d6c62a3773aa9b99a16d8611bc615b1910a. Documentation appears in the README, the User's Guide, and `run_tests.py -h`.

In particular, note that `./run_tests.py` should always pass. It corresponds to the test family referred to as "base", i.e., `./run_tests.py` is equivalent to `./run_tests.py base`. It runs all tests involving

[2015-10-19 02:43] #105 closed

[2015-10-19 07:49] slivingston commented on #40
@johnyf Why did you label this as a "bug"?

[2015-10-19 08:29] johnyf commented on #89
I mention [above](https://github.com/tulip-control/tulip-control/issues/89#issuecomment-43394904) that I would have liked `networkx` to allow defining your own custom `dict` class for storing node and edge attributes. This feature has since been made available by the `networkx` developers. A description for how such `dict` factories can be defined in a subclass can be found [in the docstring of `n

[2015-10-19 16:31] slivingston commented on #89
The remaining action item to close this issue is, quoting [from above](https://github.com/tulip-control/tulip-control/issues/89#issuecomment-47289842), "...to transfer part of the discussion here into the docstrings, and write a (short) tutorial on using LabeledDiGraph and its subclasses."

@johnyf: I will attempt to do this if you have not. Please advise by re-assigning the issue to me if appropr

[2015-10-19 17:10] slivingston opened #131 "Expand Travis CI configuration to perform all tests"
https://travis-ci.org/tulip-control/tulip-control

Currently (as of 54d122fbd76a0188f138521628c53132b2aea8ce), only the "base" family of tests is performed. We should expand the CI configuration to perform all tests, i.e.,
[code]

[2015-10-19 20:45] johnyf commented on #89
I have been working on a draft for the tutorial that I will push to a branch while working on it, so that others can read it, while I continue.

[2015-10-19 20:49] johnyf commented on #89
In the tutorial, I am avoiding reference to inside-out methods like `LabeledDiGraph.states.add`.
Instead, I directly use `LabeledDiGraph.add_node`.
This is flat (and not misleading, as the nested `states.add` is), (almost) identical with `networkx`, and will change the least with any simplifying changes we may decide to apply in the future.

It also makes redundant [lengthy explanations](https://g

[2015-10-19 21:47] johnyf commented on #89
The memory concerns [mentioned above](https://github.com/tulip-control/tulip-control/issues/89#issuecomment-43458064) are premature optimization. For a problem of size that causes memory issues, one would either use Cython, or C, or implement a custom class, or use symbolic algorithms directly.

[2015-10-19 21:57] slivingston commented on #109
For posterity, note that `cvxopt` became optional upon the merging of [pull request #122](https://github.com/tulip-control/tulip-control/pull/122).

[2015-10-22 17:08] necozay commented on #40
I suggest shifting the milestone for this issue to a later release. It is probably better to address this when we include more continuous/hybrid closed loop simulation functions (i.e., together with issue #60)

[2015-10-22 17:50] johnyf commented on #40
We have had some correspondence with @slivingston about the issues that I had noted in an old email. We decided, as suggested, to address this in the future, and also transfer a comprehensible description here, from that email.

[2015-10-22 19:04] slivingston commented on #40
There are also the following action-items, which I will now do in time for inclusion in v1.2.0:

1. Add note in docstring that the case of `use_all_horizon=True` is
still under development and currently unavailable.

2. Raise ValueError if user attempts to call discretize() or any
function in tulip/abstract/feasible.py with `use_all_horizon=True`.

[2015-10-23 00:43] slivingston commented on #89
Done as of 6b07c3189f2a5a9b9e775aa2179c821b6b7ad5e3. Relevant changes are on master branch as of 50e6262834d3973b387b60650eeb83f3c3f8a116.

[2015-10-23 00:43] #89 closed

[2015-10-23 21:10] slivingston commented on #40
Both of the above action-items are done as of 430567b026f9639d874dfbd93e2c5375bec4883b.

[2015-10-23 21:24] #125 closed

[2015-10-23 21:28] slivingston commented on #93
When moving some of the notes here into the User's Guide, consider including some in-code comments that had been in tulip/machines.py until 45921429b9c18d9e5a95c7aa0e72d1fd3f85daa4.

[2015-10-23 22:01] slivingston commented on #131
While addressing this issue, also improve the manner of getting scipy. Currently it sometimes requires so much time that the build fails due to timeout.

[2015-10-23 22:52] slivingston commented on #79
As of a8e4edba5e1bd74218332fcb2a7f03ccbdcab099, I used Spin to verify the strategy from gr1c using the specification file created by TuLiP for scripts under examples/robot_planning/ that had been marked with a warning message. In doing this, I generated the Promela models using gr1c.

Once we have similar capability and a verification workflow in TuLiP, we can compare with that of gr1c.

[2015-10-28 20:47] slivingston opened #132 "PLY caching fails during installation"
Multiple users have reported that for release version 1.1a attempting installation multiple times does not cause the warning message
[code]
to go away.

[2015-10-28 21:36] johnyf commented on #132
What are the circumstances under which it has been observed? (`pip` or `python setup.py install`).
Also, `ply` has evolved since then (not incompatibly, but my recent experience has been with code written using newer `ply` versions).

[2015-10-28 21:45] slivingston commented on #132
For one of the reports,

    python setup.py install

* RHEL (Red Hat Enteprise Linux)
* installed as root
* system-wide, under the directory /usr/local/python/lib/python2.7/site-packages
* Python 2.7.9
* PLY 3.6
* setuptools 18.1

[2015-10-28 21:52] slivingston commented on #132
[The other report](https://sourceforge.net/p/tulip-control/mailman/message/34528765/) was copied to the tulip-control discuss mailing list around 8 Oct 2015. The sender describes the platform as "Ubuntu 14.04.3 LTS Trusty" and sent copies of "the detailed error log" and the output obtained using run_tests.py.

[2015-10-29 06:31] necozay commented on #132
Are they doing it over ssh? I was having a similar problem on "Ubuntu 14.04.3 LTS Trusty" when I run the tests over ssh (running them directly on the machine with the same user works without any problem). I resolved the issue in the end but I could not locate my solution now.

[2015-10-29 16:57] johnyf commented on #132
That may suggest write permissions. I have not had a similar experience with `ssh`, but the "installed as root" differs in my case, i.e., I install as the user I am. Perhaps trying with normal user access rights would be a candidate experiment.

[2015-10-30 19:09] johnyf commented on #44
[PEP373](https://www.python.org/dev/peps/pep-0373/) sets the end of Python 2 support to 2020.

[2015-10-30 20:00] johnyf commented on #132
With another package, I observed a different behavior that results in an outdated table being installed. This appears to apply to all packages that use `ply`. `pip >= 7.0` creates and caches wheels on its own, even for packages that don't distribute a wheel. As a result, it does *not* re-run `setup.py` when re-installing.

As a result, when `ply` is updated, re-installing a package dependent on `p

[2015-12-08 06:15] necozay opened #137 "encoding of Mealy machine states"
The states of the synthesized Mealy machines look a bit odd in the examples as of the head of master branch:
[code]
Is this an intentional change or is this something to do with my setup?

[2015-12-08 06:38] johnyf commented on #137
If you are using `gr1c`, then they appear normal, because it gives hexadecimal values to states, as in the example shown in [its documentation](http://slivingston.github.io/gr1c/md_formats.html).

[2015-12-08 20:00] necozay commented on #137
I was just confused seeing different results in TuLiP in two different machines. Didn't notice this was due to different versions of `gr1c` installed on these machines. This seems to happen with `gr1c 0.9.0` but not with `gr1c 0.10.2`.

[2015-12-09 06:19] necozay opened #138 "Bug in discretize, conservative=False option"
I think `orig_ppp` should be updated to convexified partition within the part of the `discretize.py` code handling the `conservative=False` function (lines 530-548). If this is not done, it is not clear how this option can be used to construct a controller.

[2015-12-09 06:24] necozay opened #139 "redundant mappings in AbstractXXX objects"
Seems like the redundant mappings still exist in the code and they make it somehow troublesome to manipulate `AbstractXXX` objects. See the discussion following the commit da0518c.

[2015-12-09 07:25] necozay commented on #138
The following addition to `get_input` can be used as a test:
[code]

If this exception is not caught, `get_input` fails because it sends a region to `get_input_helper` instead of a polytope.

[2015-12-19 05:38] necozay opened #140 "get_input for AbstractSwitched"
``AbstractSwitched`` class is missing many of the attributes ``AbstractPWA`` class has, resulting in inconsistencies in ``get_input`` and other related functions. It might be useful to somehow unify the attributes or extend ``get_input`` function so that it can handle ``AbstractSwitched`` objects as input as well.

[2016-01-26 07:47] johnyf opened #141 "LICENSE at a single place"
Since now `tulip` does have a license file at the top level, as added in 36f3d4135023cf633871e0ff32f896e4a4198ad9, would it still remain necessary to replicate the BSD text in every file?
This suggests a candidate revision to the policy for declaring the license within `tulip` sources.
In particular, we could consider removing the license copies from the Python source files.

cf also https://githu

[2016-01-26 08:51] johnyf opened #142 "branch management policy"
Following private communication with @slivingston, we may want to select a default fate for branches that have been merged:

I think that deleting a branch associated with a pull request by default is a good practice, unless the branch has been explicitly protected by:

1. an email announcing so in the `tulip` mailing list
2. a comment in the relevant pull request
3. private communication
4. branc

[2016-01-29 04:58] slivingston commented on #141
It is not necessary legally. An important motivation for the practice is to prevent loss of information about the origin when subsets of the code are used or re-distributed. The license precludes that from happening, but carelessness can cause otherwise.

However, there may be institutional rules at Caltech or U. Michigan that require it. @murrayrm or @necozay, is that the case?

Elaborating the s

[2016-01-29 05:03] slivingston commented on #142
I support the proposed policy. Because it concerns merged branches, restoring the branch is easy in cases of mistaken deletion.

[2016-01-29 12:03] johnyf commented on #141
Thanks for refining the suggestion to including a notice of license terms. I do think that this is useful, and have done so myself too in some cases, though trying it led to some observations:

- Unless split over multiple lines, the copyright notice widens an otherwise narrow source file.
- It seems more appropriate to place the notice outside the module docstring, i.e., as:

[code]

  However, t

[2016-01-30 05:00] slivingston commented on #141
Thanks for the thorough discussion. Your list of effects raises another concern: acknowledging authors and contributors. For the BSD and similar licenses, acknowledging the creators is the essential requirement. However, append-only author lists like that of the SciPy example that you give are difficult to maintain and not well motivated when tools like `git blame` can be used.

Two comments:

1.

[2016-01-30 05:10] slivingston commented on #141
In "the end of your comment", I am referring to "the README.rst could emphasize that..." [above](https://github.com/tulip-control/tulip-control/issues/141#issuecomment-176721876).

[2016-01-30 05:12] slivingston commented on #141
Regarding whether license text should be removed from existing source files, if agreement is not easily reached (or policies not easily determined), we could revisit the question shortly before the next release. Until then, new source files could use one of the new styles proposed above, e.g., copyright text with year and pointer to the license.

[2016-01-30 05:18] necozay commented on #141
For Michigan, I was told that it is sufficient to include the owner (the regents of the U of Michigan in my case) at the top of the BSD license FULL TEXT license file. Either option is fine for me as long as we keep the license file.

[2016-01-30 06:19] johnyf commented on #141
I think that the first (or second, in case of a shebang) line is a better location for placing the license notice. This separates visually the code from accompanying information and hints to the shell. Also, this is [the current](https://github.com/tulip-control/tulip-control/blob/70ffe5f3b8c60cf6e3145393e263354d78331ab7/tulip/synth.py#L1) practice within `tulip`, so the change would result in tri

[2016-01-30 06:28] murrayrm commented on #141
To my knowledge, there is no institutional rule at Caltech regarding this issue.  The changes suggested above sound fine.

[2016-01-30 18:33] slivingston commented on #141
As far as I can tell, this issue is resolved. @johnyf will you make the proposed change to the root README, or shall I? After that, we can close this issue.

[2016-01-30 19:32] johnyf commented on #141
Documented with 6a57e73866d88bf842177ce3780052ffdb634573 and cca964f97c5a7759d903751b1c52490bbfcd067d. An example of application is 96f9c289e16e077e0f9be69c7fa8ec3f4bee08ee.

Comments:

- did not explicitly require in `doc/dev_guide.rst` that the license should be linked to by a URL, so that a relative path remain a choice
- README considers modification and re-distribution of source code, not "us

[2016-01-30 19:32] #141 closed

[2016-02-15 19:21] johnyf commented on #142
Having recorded the discussion here, let us use this approach, until otherwise decided.

[2016-02-15 19:21] #142 closed

[2016-02-19 01:14] miccol opened #143 "nx.to_pydot not working with networkx 1.11"
With the current version of networkx (1.11) I get the following error:

`AttributeError: 'module' object has no attribute 'to_pydot'.`

Apparently the developers of networkx have made some changes to the API when moving from 1.10 to 1.11. These changes, involve also the function `to_pydot` used by tulip. see: https://networkx.readthedocs.org/en/stable/reference/api_1.11.html

I have solved the iss

[2016-02-19 01:23] johnyf commented on #143
Thanks for noting this change, a change compatible with both `networkx < 1.11` and `networkx >= 1.11` is here: [dd/780445c2e2fbc5f9cc43a55fe2dd34e2eb9e4a33](https://github.com/johnyf/dd/commit/780445c2e2fbc5f9cc43a55fe2dd34e2eb9e4a33).

[2016-03-27 10:10] johnyf commented on #117
After implementing these approaches in the package `omega`, I have the following observations to report.

My proposed style to define a full symbol table is cumbersome for external users.
It has been very useful for making the implementation simpler and more readable, and for developer usage.

The availability of a `dict` as symbol table has enabled forwarding first-order information through the b

[2016-03-29 01:03] johnyf commented on #27
As of `tulip == 1.2.0`, the solver `jtlv` is not used any more, is unmaintained, and being replaced by `gr1c` and `omega`. So, this issue can be closed.

[2016-03-29 01:03] #27 closed

[2016-03-29 03:18] johnyf commented on #143
Fixed in 503c507cd68465100f7f1971bdd589eff27774c7.

[2016-03-29 03:18] #143 closed

[2016-06-04 04:49] necozay opened #146 "simulation part of continuous.py"
It would be nice to demonstrate how the synthesized controllers can be simulated in TuLiP in one of the examples. I have the following piece of code for the ``continuous.py`` but there are some hacky parts. Maybe we can clean it up and include in the next release. Any suggestions on how to make the initialization better?

[code]

[2016-06-04 07:59] johnyf commented on #146
A comment that [`tulip.abstract.find_controller.find_discrete_state`](https://github.com/tulip-control/tulip-control/blob/f3a0f44e44b52aba1a2448492a556b3f98f58744/tulip/abstract/find_controller.py#L453) could also be named the mapping from concrete (continuous) to abstract (discrete) states, i.e., a [refinement mapping](http://research.microsoft.com/pubs/64046/abadi-existence.pdf).

[2016-06-04 08:39] johnyf commented on #146
This initialization touches the interplay between:

1. quantification of initial conditions, and
2. concretization for implementation

Depending on where we apply these methods, I can imagine that both can be possible real world scenarios:

1. we pick `Init` (initial predicate) and find the game realizable `\A x, y: Init(x, y)` (`\A` means `\forall`).

2. we find some abstract initial states that

[2016-06-04 13:18] necozay commented on #146
As a side note, this simulation only works if in abstraction ``closed_loop=False`` and ``conservative=True`` flags are used.

[2016-06-12 21:41] johnyf commented on #137
Hexadecimal names strategy nodes result also with `gr1c == 0.11.0`.

[2016-06-12 21:41] #137 closed

[2016-06-13 06:22] johnyf opened #147 "prefer functions as strategies, instead of transducers with internal state"
Functions are what is synthesized.
Functions are simple.
Functions are flat, because no state is nested inside them.
Functions are explicit, because all state is outside, visible to the user, who is responsible for the "wiring".
Functions are easy to use in simulation.
Functions are local, because they need to be called only when the corresponding player moves.

Transducers are an I/O construct, w

[2016-06-13 13:27] slivingston commented on #147
Can you distill design recommendations from your opening post for us? What would be sufficient for closing the issue? Otherwise, your text might be better placed in a venue for discussion separate from the code, such as the mailing list.

Some of your comments are interesting, and I would respond and engage in discussion, but I do not think the issue tracker is appropriate.

[2016-06-13 13:42] slivingston commented on #147
We could also try to use a different platform than the mailing list. I would recommend [Discourse](http://www.discourse.org).

[2016-06-14 07:29] johnyf commented on #147
## Functions to represent strategies

### Functions in code

The main change would be to represent the synthesized strategies as mathematical functions.
This representation can be a:

1. Python `dict` that maps tuples or some hashable `dict`-like object to `dict` that assigns to controlled variables their next values (this works for enumerated strategies).

2. Python function that maps keyword arg

[2016-06-14 07:38] necozay commented on #147
I would prefer if interleaving is not the only option. It makes sense for "board games" or software but for anything physical, it is not reasonable to expect that you can freeze the dynamics of a system until the environment moves and vice versa. I prefer to use Moore synthesizers for hybrid problems.

[2016-06-14 07:44] necozay commented on #147
Can you say a bit more abou how you are imagining to use functions for control strategies that require memory? I can imagine a function that takes as input all the history up to that point in time, so input is a sequence with unspecified length but this does not sound like a good idea (states make the memory rep. more compact).

[2016-06-14 07:50] johnyf commented on #147
Having both is possible. My interest is mainly in implementing the interleaving one.

Taking the above arguments and previous discussion into account, I would expect that a noninterleaving representation would be used in simpler problems that are one-sided (not compositional, and perhaps with only a system synthesized). That case seems simpler to implement, because it doesn't need a Moore synthesi

[2016-06-14 08:45] johnyf commented on #147
About the freezing of dynamics, I think that this is a matter of identifying passage of physical time with steps between consecutive states in a behavior (a sequence that models a temporal logic formula). It is an issue that needs to be discussed.

Using stutter-sensitive specifications, the usual approach is to let steps correspond to passage of physical time (in discrete jumps). But that is not

[2016-06-14 08:57] johnyf commented on #147
I prefer Moore players too. But a noninterleaving game with Moore players is concurrent. We can still synthesize for GR(1) properties with a Moore synthesizer. Arguably, it could also be more realistic. But  what a concurrent game really is is a game with partial information. This can be emphasized more in an interleaving representation with explicit hiding. A concurrent game is *not* determined,

[2016-06-14 09:35] johnyf commented on #147
The question of what argument is given to a function that represents a strategy is a good point, because at least two approaches are commonly encountered in the literature:

1. feed function `f` with `h`, a variable that records the entire history, up to that behavior state, of variables mentioned in the specification of `f`, so that `[]( y' = f[h] )`.

2. feed function `f` with the current values

[2016-06-14 09:37] johnyf commented on #147
Relevant to #146.

[2016-06-14 09:38] johnyf commented on #147
Also, it may be useful to contrast the state-space based approach using functions (and the explicit quantification of initial states that will accompany it) with how long (and confusing) the discussion was in (the otherwise very useful) #93.

[2016-06-14 09:49] johnyf commented on #147
Also, this way of simulating things is the simplest loop that a freshman may write to integrate a system of differential equations. They just need to be told what extra variables appeared (the various memories, for tracking goals or remembering past values, e.g., because past temporal operators were used) when the strategy was synthesized. API calls can be provided for this purpose, it doesn't hav

[2016-06-14 17:28] necozay commented on #147
No.1 above is a controller; No.2 above is a controller state update function.

Consider you have a simple not-memoryless controller of the form (could be a PID controller - btw, control is usually an upper level class, junior year so no freshmen :-))

'''
x(t+1)= f(x(t), u(t), e(t))
y(t)=g(x(t))
'''

What you describe in No. 2 is f here. It is not the controller. Any control implementation will ne

[2016-06-14 19:54] johnyf commented on #147
I agree that the value of variable `mem` will need to be stored. The values of `x` and `y` may be sensed or stored within the controller, depending on what they are.

Returning `f` and having the user utilize it as needed is what I have in mind, so that the class and alternatives [above](https://github.com/tulip-control/tulip-control/issues/147#issuecomment-225801142) are packaging of `f`. I'd lik

[2016-06-14 19:57] johnyf commented on #147
By "call" I mean in terminology, not in code. We could call it `Function` in code, and so force the user to think about how it is being used, perhaps use it for other purposes too.

[2016-06-15 22:59] necozay commented on #147
**Re interleaving:**

I think non-interleaving semantics are better suited to one of the default problems in TuLiP (given hybrid system, discrete env., spec, design a controller) so I would prefer to keep Mealy or Moore solvers as default. For me, asymmetry is fine as long as you give more power to things you do not control (i.e., environment) if you want to be "robust". In general, in hybrid prob

[2016-06-16 04:06] johnyf commented on #147
I have been thinking about a suggestion by @necozay to use a Moore system, but let the environment be Mealy. I still think that it would be good to have a symmetric formulation, with both players being Moore machines. After thinking about these, it seems that we can have a single solution that serves all purposes. I describe this below.

## Summary

- both sys and env Moore: this is symmetric.
- e

[2016-06-16 04:10] johnyf commented on #147
The previous is essentially about the gap between the universal quantifier, and what the environment can be assumed to be capable of. This gap is what makes a game determined or not. Rephrased, a Moore env is about what behaviors we can *exclude* via an assumption in *our* spec. It is about how much we can ask from the opponent (the universal quantifier), but not about how much the opponent can do

[2016-06-16 04:14] johnyf commented on #147
About the comment [above](https://github.com/tulip-control/tulip-control/issues/147#issuecomment-226344701) regarding interleaving specs that represent physical processes.

Yes, physical processes can be described by interleaving specifications, equivalently to how they can be described with noninterleaving specifications. The way to achieve this is by means of an auxiliary variable that "slices"

[2016-06-16 21:06] johnyf commented on #131
`conda` has been used in 7e9c4b42f29100b85dda7433454116058e25db0b to install `scipy` in less time.

[2016-06-16 21:11] johnyf commented on #132
In absence of further evidence, and not being able to reproduce, closing.

[2016-06-16 21:11] #132 closed

[2016-06-20 02:27] murrayrm commented on #147
At the risk of jumping into a conversation that I don't completely follow, one thought on the use of functions to encode controllers (really the update law): one of the reasons that this might be useful is that you could, in principle, use the *current state* for the memory instead of the expected state.  This is roughly what happens in traditional control systems: we don't assume that the state e

[2016-06-22 14:56] necozay commented on #147
Switching to a function representation seems reasonable. Couple of things:
* We should think about the initialization of the memory variable as it will affect correctness (should choose a default value maybe?)
* These update rules that synthesis tools return are usually partial functions. They are not defined for all values of their domain. We should think about how to complete it to a total funct

[2016-06-22 15:39] murrayrm commented on #147
Good points.  I think we definitely want to maintain the current capability to generate automata, in addition to enabling the output be in the form of a function.

[2016-06-22 22:44] johnyf commented on #147
## Details of function representation

- Memory is an interesting point to raise, because it touches upon existential temporal quantification The definition of synthesis can ask for either a fixed initial value of `mem`, or a set of initial conditions (clearly, the former is the special case of restricting cardinality to a singleton). In other words, an initial condition of the form `mem \in M` is

[2016-06-23 07:44] johnyf commented on #44
The time has come, [planned Python 2 releases](http://legacy.python.org/dev/peps/pep-0373/#maintenance-releases) reach their end this coming Sun:

- 2.7.12 2016-06-25
- beyond this date, releases as needed

I think that it is time to stop using Python 2.

[2016-06-23 11:56] slivingston commented on #44
Thanks for the notification. As implied by some of your comments above, we cannot simultaneously implement both in Python 2 and 3. I recommend after the forthcoming release that we concentrate on Python 3 and provide some backwards support, e.g., using [six](https://pypi.python.org/pypi/six).

[2016-06-23 20:14] johnyf commented on #44
I strongly recommend porting to Python 3 without worrying about Python 2, and trying to support Python 2 afterwards. If too difficult (I expect it will be easy), then no good reason to invest effort in Python 2. Whoever needs Python 2 can use versions up to 1.2.1.

We could use the `futurize` script provided by the package [`future`](https://github.com/PythonCharmers/python-future), instead of `si

[2016-06-23 21:34] johnyf opened #149 "place the examples under `examples/robot_planning/` directly under `examples/`"
Flat is better than nested. There is little reason to bury the examples so deep. Every time I want to open an example, I have to write "robot_planning", even though none of the two words is very descriptive of those examples.

If there are no objections, I will move these files.

[2016-06-24 23:34] johnyf opened #150 "enumerate strategy using a graph search"
Currently, `interfaces.omega` uses a naive enumeration of the entire relation (by [calling `omega.symbolic.enumeration.relation_to_graph`](https://github.com/tulip-control/tulip-control/blob/f3a0f44e44b52aba1a2448492a556b3f98f58744/tulip/interfaces/omega.py#L60)). The reason is that `relation_to_graph` does a simple naive enumeration of the entire relation, because its intended use is for debuggin

[2016-06-25 03:42] slivingston commented on #149
I agree with the proposed change. Because it only concerns examples, I think that it can go into version 1.2.1.

[2016-06-25 05:55] johnyf commented on #150
Other reasons that can reduce the strategy size, when accounted for:

- violation of initial condition (can vary, depending on initial quantification and form of initial condition)
- violation of env safety by any step (reduces number of next inputs to generate reactions to)

[2016-06-25 09:52] johnyf commented on #150
An advantage of using `omega` and `dd.bdd` (without invoking reordering) is that the enumerated strategy is always the same. This repeatability makes debugging easier.

[2016-06-25 23:17] johnyf commented on #149
Addressed with cce07057c85268bf97ffacde81b87a8283327b08.

[2016-06-25 23:17] #149 closed

[2016-07-03 23:05] iincer opened #152 "Specs tagged as unrealizable when gr1c exits on segmentation fault"
Tulip checks for the return code of gr1c in order to determine whether an implementation is realizable. gr1c returns code 0 if the spec is realizable; unix adds 128 to the return code of a program that exits on segmentation fault, so tulip gets something different from zero when gr1c crashes; this means that tulip will always tag a specification as unrealizable if gr1c exits after segmentation fau

[2016-07-03 23:25] johnyf commented on #152
Thanks for reporting this behavior. Can you please provide some details about the following:

- Does this arise when calling the function [`tulip.interfaces.gr1c.check_realizable`](https://github.com/tulip-control/tulip-control/blob/c72abfe57f5b72a97bd0b0d023d7a7c0f5caffa3/tulip/interfaces/gr1c.py#L424)?
  I expect that if `gr1c` crashed in the function `synthesize`, then an exception would be rai

[2016-07-03 23:33] johnyf commented on #152
Also, is the addition of 128 by unix documented somewhere? [From this discussion](http://stackoverflow.com/a/18731911/1959808) it appears to be system-dependent.

[2016-07-04 03:30] iincer commented on #152
My pleasure. Regarding the questions...
- Correct. This is the function under which the crash occurs. A subprocess is created to run gr1c, and tulip waits for this subprocess to end execution. Note, however, that even if gr1c crashes, you will not get any exception under tulip; tulip will always see a return value from gr1c, even if it crashes: you will simply get the return code of the crashed gr

[2016-07-04 04:12] johnyf commented on #152
For reference, the exit codes of `gr1c` are documented [here](http://slivingston.github.io/gr1c/index.html). I am not the author of `gr1c`, so I cannot comment on this design decision. @slivingston may have comments on it.

Regarding segmentation faults due to insufficient memory, this is likely due to CUDD behavior, as discussed here: https://github.com/slivingston/gr1c/issues/23.

About memory l

[2016-07-04 06:43] iincer commented on #152
Many thanks for suggesting omega and for the references. I have only used the gr1c support so far.
I looked at the implementation of support for other engines, like ltl2a, and it seems these will throw an exception when a nonzero code is received from the executable. From what I have seen, it is only for gr1c that tulip will sometimes report that some specs are not realizable when they happen to b

[2016-07-10 04:04] slivingston commented on #152
@iincer Thanks for your comments about interpretation of exit codes. I created a feature request (https://github.com/slivingston/gr1c/issues/26) in the issue tracker of gr1c about it, where we can continue discussion.

Regarding the behavior of TuLiP, I will create a workaround that we can use until exit codes from gr1c are changed.

[2016-07-27 18:23] johnyf commented on #127
Strategies may be Moore or Mealy, so the title was updated to be generic. The difference will be in the input arguments, with Moore strategies a special case of Mealy strategies.

[2016-07-28 07:11] johnyf opened #154 "run using scipy instead of cvxopt"
Likewise to `polytope`, which can now run w/o `cvxopt`, `tulip.abstract.find_controller` should [not import `cvxopt` only](https://github.com/tulip-control/tulip-control/blob/9aa793a473aeb5f4a656e2fe45112cbea83becda/tulip/abstract/find_controller.py#L51). This is the only place where `cvxopt` is used. Due to `tulip.abstract.__init__`, it causes failure of discretization too, whenever `cvxopt` is a

[2016-07-29 02:22] necozay commented on #154
Just to make sure we do not replicate work: This is on my agenda for UM TuLiP working meeting tomorrow. @johnyf if you have already started working on it, let me know. Otherwise, if we cannot get to this, I can leave it to you.

[2016-07-29 02:32] johnyf commented on #154
Thanks, I haven't yet touched this, please go ahead. The only place that `grep -ilr "cvxopt" ./*` shows modifications are needed is [`tulip.abstract.find_controller`](https://github.com/tulip-control/tulip-control/blob/fc5d04fdcac9dab2104802a77f5a2c718c7e6bf3/tulip/abstract/find_controller.py#L51).

#131 is relevant to thoroughly test this, both with:

- `scipy` present but `cvxopt` absent, and
-

[2016-07-29 02:34] johnyf commented on #154
For performance reasons, we probably want to run twice (one with `scipy` and once with `cvxopt.glpk`) only a selected subset of tests that is representative of abstraction and continuous feedback control functionality.

[2016-07-29 06:36] johnyf opened #156 "simplify API for defining quantification of initial values"
I am working on how the user will define how they want the values of variables to be quantified in the initial state.

(Strictly speaking, the quantification is over constants, plus an equality constraint to flexible variables, as in `\E u: x = u`, where `x` has been declared as a (flexible) variable, and `u` is just a local dummy rigid variable declared in the scope of `\E`.)

In `omega`, I've us

[2016-07-29 08:43] johnyf opened #157 "swap arguments `option, specs` to `synth.synthesize`"
The function `synthesize` operates on specifications, not on tools. The tool is just an option, that, albeit important, should appear later. Moreover, since we will have a pure Python solver, no external dependencies are needed (compiler, CUDD, `java`, etc.), which means that this option is not required any more. It should be a keyword argument. This will allow code to run generically, without upd

[2016-07-29 08:51] johnyf commented on #157
Moreover, we can go one step further, and consider adding support for a user config file in the future, e.g., under `~/.tulip_config` that stores preferences like default solver. An alternative is to cycle through all solvers, until one is found (I don't support this alternative: explicit is better than implicit).

[2016-07-29 13:52] slivingston opened #158 "deprecate and eventually delete `interfaces.jtlv`"
As far as I know, there are no current users of the JTLV-based solver interface, and no one wants to maintain it because the performance, features, etc. are available and better elsewhere. As such, we should deprecate and, later, delete `interfaces.jtlv` and any other uses of the JTLV-based solver in TuLiP.

Anyone interested in keeping it should comment here. Besides technical arguments about usi

[2016-07-29 18:49] johnyf commented on #156
In my attempt to apply the above change to tests, I observe that it is:

- implicit:
    - you have to look at two different attributes (`env_init`, `sys_init`), before you can conclude what the quantifiers are
    - what you see as values in these attributes only indirectly define quantifiers, so you don't see the quantifiers explicitly written
- fragile: `env_init == list()` and `env_init == Tru

[2016-07-29 20:43] johnyf opened #159 "distinguish between formulae and synthesis problems"
Notionally or in code too. The issue arises when a graph-based state machine description (transition system) is translated to an assume-guarantee GR(1) formula. This is a just a collection of predicates `EnvInit, EnvNext, EnvRecur_j` and `SysInit, SysNext, SysRecur_i`, to be used for creating a temporal formula. It doesn't say any of:

1. what capabilities the strategy has (`GRSpec.moore`)
2. how

[2016-07-30 04:02] slivingston commented on #157
One of the original motivations to include an option string was to allow cases that were beyond particular tools, e.g., including `'strict'` as a suffix or prefix to indicate the notion of realizability to use.

[2016-07-30 05:55] johnyf commented on #157
This role has now been assigned to attributes of `GRSpec`, to allow the information to easily propagate down the call graph that leads to synthesis, without having to modify the arguments of intermediate functions (this also allows for differing attributes recognized by each backend, with the same middle layer.

In principle, one could incorporate the selected solver as one more attribute of `GRSp

[2016-07-30 06:19] slivingston commented on #157
While I agree with the ambitions of the proposed change, I want to discuss it further without risking the delay of releasing 1.3.0. Can we change the milestone?

[2016-07-30 06:27] johnyf commented on #157
I have not applied this change yet. We could change the milestone, though my thinking was that since 1.3.0 breaks the API in this area sufficiently that user code will have to change, it might as well include this change too.

[2016-07-31 00:45] necozay commented on #154
@sahiny is looking into this.

[2016-07-31 01:14] johnyf commented on #154
Thanks for the note. @sahiny, please let us know in case there is anything we can help with / answer (both here and over email work for me).

[2016-07-31 06:59] slivingston commented on #154
If I understand this issue correctly, it does not necessarily involve changing the Travis CI script.  I assigned #131 to myself, so I can ensure that tests touch `scipy` and `cvxopt`.

[2016-07-31 07:13] johnyf commented on #154
Running all the tests has been done on branch `enumeration` (though they will need `omega >= 0.0.9` to pass on Travis CI. Running with both `scipy` and `cvxopt` has not been done.

Please see:

https://github.com/tulip-control/tulip-control/commit/ce91fa489dbc2a3726c03abaeb2de17a4fc6816b

[2016-07-31 21:07] slivingston commented on #154
If you are working on an issue, please assign it to yourself or announce it on the mailing list. In this case, perhaps you should assign #131 to yourself.

[2016-08-06 06:43] johnyf commented on #154
I have assigned that issue to myself.

[2016-08-06 06:49] johnyf commented on #154
Any progress on this issue? `find_controller` uses quadratic programming, so is [`scipy.optimize.minimize(method='SLSQP', ...)`](http://docs.scipy.org/doc/scipy/reference/optimize.minimize-slsqp.html#optimize-minimize-slsqp) the replacement?

[2016-08-06 07:04] johnyf opened #160 "multiple CUDD builds on Travis CI"
Both `gr1c` and `dd.cudd` (for testing the option of using `omega` with `cudd`) build CUDD on Travis CI, which is suboptimal. For now, we can let this be so, but in the future we may want to consider linking to a common library for all tools that use CUDD. Currently, the aforementioned tools support different CUDD versions, so this is not yet possible.

[2016-08-06 07:36] johnyf commented on #154
Also, running `abstract_test.py` without `cvxopt.glpk` on Travis CI [times out](https://travis-ci.org/tulip-control/tulip-control/builds/150232588). So, we may want to create a test configuration that runs less demanding tests using `scipy`, run that with `scipy`, and then install `cvxopt.glpk` and run the entire test suite for supported features (omits `jtlv`, `lily`, `slugs`).

[2016-08-06 07:46] johnyf commented on #131
As of b644de60e0a24e48f65fba925dccbb8443c46a6a, all tests for supported features pass, with pure Python support for GR(1) (and Rabin(1)) synthesis. The omitted tests are for:

- `tulip.interfaces.jtlv` (to be completely removed in the future)
- `tulip.interfaces.lily` (experimental, not a production feature)
- `tulip.interfaces.slugs` (outdated, unmaintained, depending on a module available via a

[2016-08-06 08:54] slivingston commented on #131
I did not know that there was a distinction with some features being "production". I think that if it is tested in the `full` family, then it should be tested as part of CI jobs. This issue is not addressed until that is the case, so there is no need for a special `ci` family.

[2016-08-06 09:01] slivingston commented on #160
How difficult is adjusting `dd.cudd` to find CUDD in a different location?

With gr1c version >= 0.11.0, the installation location of CUDD can be manipulated by changing `deps_prefix` before building gr1c.

[2016-08-06 09:03] slivingston commented on #131
The relevant issue about completely removing `tulip.interfaces.jtlv` in the future (as described [above](https://github.com/tulip-control/tulip-control/issues/131#issuecomment-238011328)) is #158.

[2016-08-06 12:20] johnyf commented on #131
fa52b12d3bfc4bd5e54b7249f03526377fc6a6b4 tests also `jtlv` and `lily` on Travis CI.
The `slugs` test remains (discussed below).

In https://github.com/tulip-control/tulip-control/issues/154#issuecomment-236415425 the "all tests" was intended to refer to the optional but maintained features. Therefore I misunderstood the OP of this issue.

I will not be able to maintain `tulip.interfaces.slugs`. I

[2016-08-06 12:28] johnyf commented on #160
It is not very difficult to adjust `dd.cudd`, it can be done by changing `CUDD_PATH`, which is defined [in `download.py`](https://github.com/johnyf/dd/blob/bfe36d4b68dc0a878772b287b1c38e4bbec303b0/download.py#L39). One possibility is to add an optional command line argument to `setup.py` that defines where CUDD is located.

[2016-08-06 12:35] sahiny commented on #154
Hi Ioannis,

I was traveling to Turkey, so I couldn’t have time to replace the QP used in find_controller to LP. I’m working on it right now.
—
Yunus Emre

[2016-08-07 00:16] johnyf commented on #154
@sahiny I was asking mainly to learn whether another QP solver will be used, and if that will be from `scipy`. Please take your time, I am not suggesting a time constraint.

[2016-08-07 00:22] sahiny commented on #154
As far as I have been told, I am going to change QP in ‘get_input’ with LP from spicy. But I am running into weird issues with my Python, which prevents me from actually trying my code. I will keep you posted with any updates.

Thanks,
—
Yunus Emre

[2016-08-07 00:28] necozay commented on #154
As far as I know, there is no QP solver in `scipy`. What we planned to do was to replace "weighted 2-norms" (leading to a quadratic objective function) with "weighted infinity or 1-norms" to obtain a linear objective function. That way, we can mimic the "get close to center" type objective as well - just with a different norm.

[2016-08-11 04:14] necozay opened #161 "non-deterministic behavior in discretize (or polytope 0.1.2)"
Not sure how much of this is a `tulip` issue and how much of it is a `polytope` issue but reporting here.

In the `continuous.py`, when I make the following changes:
[code]

`discretize` behaves nondeterministically. It succeeds half of the time and in the other half, it terminates with the following error:

[code]

[2016-08-12 05:18] necozay commented on #161
Diagnosis: when using `closed_loop = False` with a not too short horizon, the default projection algorithm ends up being iterative hull which is not deterministic: see [this line](https://github.com/tulip-control/polytope/blob/master/polytope/polytope.py#L1732). Increasing the maximum iterations in iterative hull can make it more likely to succeed. Also, we can consider fixing the seed if we want

[2016-08-12 05:18] #161 closed

[2016-08-13 10:18] johnyf opened #162 "annotate continuous states with N-attractor they belong to"
Task item: process a partition resulting from abstraction of a continuous dynamical system to add information about how many steps are needed to reach the target polytope of an (outgoing) trajectory, from each continuous state.

Different states in the same cell (polytope) `p1` can require a different number of steps in order to reach the target polytope `p2`, say from state `s1` we can reach `p2`

[2016-08-13 10:19] johnyf commented on #40
Based on:

- PEP20: flat is better than nested,
- the [Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy): build sharp tools that do one thing well,
- [Knuth](http://dx.doi.org/10.1145/356635.356640): avoid premature optimization, and
- personal experience,

Nesting the labeling of subpartitions (or other mechanism) outlined [above](https://github.com/tulip-control/tulip-control/issue

[2016-08-13 10:19] #40 closed

[2016-08-13 18:08] necozay commented on #162
I recently noticed after some discussions with @johnyf  that storing the number of steps might be a bit trickier in that when the system is subject to disturbances and attractors involve non-convex sets, certain points cannot be guaranteed to reach the target in exactly k steps but they can reach the target in k +/- 1 steps depending on disturbance realization. If the Pre of non-convex sets are co

[2016-08-20 20:42] johnyf commented on #31
Should this issue be closed as "wontfix" ?

[2016-08-20 21:37] slivingston commented on #31
I agree, but I would instead describe it as a low-priority, entirely independent feature request for which there are no plans to implement. It might be of interest later.

However, to avoid creating yet another label, "wontfix" is OK.

[2016-08-20 21:37] #31 closed

[2016-08-20 21:40] johnyf commented on #131
The `ci` family has been removed, and most of the above tests (and necessary corrections) applied either to branches `master` or `enumeration`. The only tests currently separate are for `jtlv` and `lily`, placed in e3ef20dd9645fc4ef5c8bb67b64bc6112e771ee3. The `jtlv` test can remain there until before #158 is effected, at which point, for leaving a consistent state in history, the test can be incl

[2016-08-20 21:57] johnyf commented on #24
By now, I think that, for any new implementation, it is reasonable to use the [Python bindings to `z3`](https://github.com/Z3Prover/z3#python), available under an MIT license.

Regarding the OP:

1. as of 06a5fc5016fc9a295802d307df4d97fc06aedba8, no code other than the script `contrib/AES/AES_specgen.py` mentions `yices`. That script looks self-contained. No `tulip` code uses `yices`. (`yices` is

[2016-08-21 04:30] #150 closed

[2016-08-21 04:40] slivingston commented on #159
I understand that this is closed via PR #163. However, this issue is discussion-oriented. @johnyf did you want to keep this open?

[2016-08-21 04:44] johnyf commented on #159
I think that this can be closed, because it was implemented in 3208fc1c69787ec45d1e17afaf89a3f0d726ba06 and 596599edb07fe4c7b5f3fbd70e046aa69be4b900.

[2016-08-21 04:44] #159 closed

[2016-08-21 04:46] johnyf commented on #156
Implemented as of 726c5ccf297aa81c61e279642ded3c4087528d73, starting with 0eb60498c68dfdbad9a92b44073da03f6b4e93a1.

[2016-08-21 04:46] #156 closed

[2016-08-21 04:48] slivingston commented on #131
Following discussion in #163, additional tasks for this issue are the following:
* move tests that depend on gr1c to the `full` family;
* separate tests that involve `dd` and require CUDD from those tests that do not require CUDD.

[2016-08-21 05:26] johnyf commented on #30
Are "propositions with empty interior" polytopes of dimension less than the ambient space? If this issue refers only to polytopes, and therefore concerns unit tests for the package `polytope`, then should this be moved to the `polytope` repository?

[2016-08-21 21:01] necozay commented on #30
There are some checks on whether a polytope is full dimensional or not in `prop2partition`. I think these checks and actions based on these checks are done with the assumption that polytope cannot handle polytopes of dimension less than the ambient space well. This is definitely a `polytope` issue but also a `tulip` issue because after polytope is equipped with the relevant unit tests, one should

[2016-08-23 04:07] slivingston commented on #131
I was able to build `slugs` on Debian GNU/Linux 8.5 using GCC (g++) 4.9.2. However, I failed to find any tests, so I asked in the `slugs` issue tracker https://github.com/VerifiableRobotics/slugs/issues/15

I am willing to eventually drop `slugs`, but they just published a "tool paper" at CAV 2016, so it is worth some attention again, at least enough to compare it with others using benchmarks, or

[2016-08-23 05:44] johnyf commented on #131
It is fine with me to not support `slugs` here. In any case, the intermediate layer of `omega` is in a superset of the Slugsin format, so it can be used for input to `slugs` if needed (I have used it in this way).

[2016-08-23 12:46] murrayrm commented on #131
I would advocate keeping in at least some support for various synthesizers that others have written, as a way of allowing comparisons between solvers but also increasing the use of TuLiP as a toolbox that provides access to a wide variety of tools.

If it is a pain to maintain the interfaces (and unit tests, CI), we could move to the contrib/ directory or something along those lines.

[2016-08-28 18:42] slivingston commented on #131
I found a solution for fetching and using `slugs`. It can be simplified if they begin to use versioning, which I have requested at https://github.com/VerifiableRobotics/slugs/issues/16

[2016-08-29 10:07] johnyf commented on #158
More specifically:

1. in v1.3.0 we can [show a `DeprecationWarning`](https://docs.python.org/3/library/warnings.html#warnings.warn) if a "public" function from `tulip.interfaces.jtlv` is called, and
2. in v1.4.0:
    - remove the code that copies `jtlv` from `setup.py`
    - move `tulip.interfaces.jtlv` under `contrib/`
    - move `extern/get-jtlv.sh` user `contrib/`
    - remove mention of `jtlv

[2016-08-29 19:25] slivingston commented on #44
@johnyf Thanks for your arguments. You assigned this issue to yourself, but I am also available to work on moving TuLiP to Python 3. Tell me how I can be useful, or allocate tasks to me.

[2016-09-01 11:38] johnyf commented on #131
Implemented by #165.

[2016-09-01 11:38] #131 closed

[2016-09-02 19:38] johnyf opened #166 "test computation of controller input"
This refers to `tulip.abstract.find_controller`. If needed, rewrite. It is labeled as a bug because it has been reported that it does not match what abstraction says.

[2016-09-02 22:01] necozay commented on #166
`find_controller` needs some adjustments to make sure it is consistent with the latest changes in the flags of abstraction (`use_all_horizon`, `closed_loop`, etc.).

But other than that, do we have an example demonstrating a bug? I heard people complaining but nobody shared a concrete example and I could not find a buggy example myself.

[2016-09-02 23:32] johnyf commented on #166
There is an example that I do not yet have myself, but when I obtain it and investigate, I will try to create a minimal example. The problem reported is that abstraction and synthesis succeed, and a controller is found for horizon length `N = 1`, but increasing to `N > 1` again abstraction and synthesis succeed, but no controller can be found. Unless this is not due to parameter mismatch (which I

[2016-09-03 22:03] slivingston commented on #166
Should this be targeted after release of version 1.3.0 ?

[2016-09-04 01:05] johnyf commented on #166
Yes, I did not intend to suggest otherwise.

[2016-09-06 22:18] slivingston commented on #160
At the current tip of master branch (7647d64607c731f060a223a4e121f5be3ec34678), a built release of gr1c that is statically linked to CUDD is used on Travis CI, thereby avoiding the need of building CUDD for gr1c. However, now the optional dependency Slugs is built using [get-slugs.sh](https://github.com/tulip-control/tulip-control/blob/7647d64607c731f060a223a4e121f5be3ec34678/extern/get-slugs.sh),

[2016-09-06 22:47] johnyf commented on #160
Building or fetching a binary (perhaps as is done for `gr1c`) for CUDD needs to happen first, because the default solver (e.g., `omega`) is installed before optional dependencies are tested (also, versions differ until https://github.com/johnyf/dd/issues/8 is closed). The `Makefile` of `slugs` is not parameterized wrt the path of CUDD.

[2016-09-23 00:01] dathath opened #167 "Option for DFA minimization post enumeration"
The enumerated strategy is generated sometimes with multiple nodes that accept the same string of inputs. Implementing a standard DFA minimization algorithm (eg. Hopcraft's algorithm) would make the enumerated possibly more human parse-able and definitely smaller in size.

Reference: Hopcroft, Motwani & Ullman (2001) - See Section 4.4.3, "Minimization of DFA's".

[2016-09-23 02:02] johnyf commented on #167
[`FAdo`](https://pypi.python.org/pypi/FAdo/1.3.2) is a package that claims to increment Hopcroft's minimization algorithm. This package violates PEP8 and its repository appears to not be where advertised, so I do not recommend using it as a dependency. Nonetheless, it can still be used to evaluate the OP in practice.

If the result is as desired, then it would be reasonable to first ask the `netwo

[2016-09-23 02:09] johnyf commented on #167
Also, `omega.games.enumeration` tries to minimize the number of states while enumerating: it prefers edges that lead to states that have already been enumerated, and computes those symbolically. I believe that `gr1c` applies a similar optimization, cf. #150.

Thematically relevant is Sec.4.1: Minimizing the Strategy in [Piterman, Pnueli, Sa'ar, "Synthesis of reactive designs"](http://ysaar.net/dat

[2016-09-29 03:45] necozay commented on #167
The question of whether it is possible to "minimize" the enumerated strategy also came up at the tutorial session (from someone who used TuLiP and obtained very large controllers).

[2016-10-28 05:23] slivingston commented on #154
Is there a proposed signature for `get_input()` that would be introduced while addressing this issue?

Currently (as of commit 8955f63d1d1bbd3a96f469718dde49454b275fd5), `get_input()` has parameters that are weight matrices for use in the quadratic objective function. [The comment above](https://github.com/tulip-control/tulip-control/issues/154#issuecomment-238056016) proposes using weighted \inft

[2016-10-28 23:03] necozay commented on #154
@sahiny is fixing some of the bugs in the branch `find_controller_LP`. We are thinking about making minimal changes to the function signature, with only an additional parameter for the type of norm used. Using `ord` is a good idea. BTW, this is a good time to let us know if you have any suggestions.

The proposed signature will slightly change the meaning for the weight matrices `R`and `Q` when `o

[2016-10-29 22:00] slivingston commented on #154
Is there any way that I can support the effort? Besides code review, I can debug and contribute missing pieces.

[2016-11-05 00:15] necozay commented on #154
@slivingston `find_controller_LP` branch currently implements the base functionality without `cvxopt`. Feel free to play/review/debug. As far as I can tell what is missing is a correct implementation of `get_input` for `closed_loop=True`. Note that there is a bug in the earlier implementations (see my comments [here](https://github.com/tulip-control/tulip-control/issues/162#issuecomment-239633913)

[2016-11-10 00:22] #24 closed

[2016-11-13 03:50] johnyf opened #169 "consider using `nose2` instead of `nose`"
`nose` is unmaintained, and its earlier maintainer recommends moving on to use `nose2` (see https://github.com/nose-devs/nose/pull/1004#issuecomment-260155457).

[2016-11-17 14:48] slivingston commented on #154
@necozay I will read through your recent pull request and provide additional review, in case it is still useful. I noticed that @johnyf [already indicated that it is ready to merge](https://github.com/tulip-control/tulip-control/pull/168#issuecomment-261222293), so I do not want to cause delays.

[2016-11-18 13:20] johnyf commented on #154
The above changes have been implemented and merged in #168, with an `ord` parameter, and the case of quadratic cost as an available option (given `ord = 2`), provided `cvxopt` is present. The implementation of `closed_loop = True` remains, but is beyond the scope of the OP.

[2016-11-18 13:20] #154 closed

[2016-11-18 13:26] johnyf commented on #138
The patch [above](https://github.com/tulip-control/tulip-control/issues/138#issuecomment-163139511) has been included in https://github.com/tulip-control/tulip-control/commit/4d1cac37fc39846e9d7986536e6a496c7dbc37f4#diff-db73a44c4631fa5fc7c04bff0f7d729aR251.

[2016-11-18 18:52] slivingston commented on #169
The homepage of `nose` lists several alternatives:

quoting from http://nose.readthedocs.io/en/latest/
where links are:
* nose2: https://github.com/nose-devs/nose2
* py.test: http://pytest.org/

[2016-11-26 05:24] slivingston commented on #167
In case it is useful to reference, I found <http://fado.dcc.fc.up.pt/>, which appears to be the homepage of FAdo, rather than the invalid URL, http://fado.fc.up.pt/, that is listed on [the current FAdo PyPI page](https://pypi.python.org/pypi/FAdo/1.3.2).

[2016-11-26 06:13] slivingston commented on #167
In addition to violations of PEP8 [as mentioned above](https://github.com/tulip-control/tulip-control/issues/167#issuecomment-249082649), I think that a critical issue in using FAdo as a dependency is that it lacks support for Python 3. Futhermore, there are no tests included in the current release tarball. However, the API documentation is fairly extensive.

I sent an email to the authors asking

[2016-11-26 06:18] johnyf commented on #158
As of 02a407765f2f4ca995a6691587e8170fdbd385e6, JTLV is already declared as deprecated in the docstring of `synth.synthesize`. I think that the simplest next action is to move it under contrib, or remove it. I've made these changes on branch `rm_jtlv` (moving it under `contrib/` for now).

The syntax of `jtlv` is supported also within `tulip.spec`. There isn't any significant reason for removing t

[2016-11-26 06:48] johnyf commented on #117
I think that the action item to close this issue should be to add a method `GRSpec.add_var`, as noted in passing [above](https://github.com/tulip-control/tulip-control/issues/117#issuecomment-86671814), and detailed [above](https://github.com/tulip-control/tulip-control/issues/117#issuecomment-126778087).

A method abstracts away from the internal implementation, allowing for flexibility. it does

[2016-11-26 06:57] johnyf commented on #157
As an action item, I propose changing the signature of function `synth.synthesize` from:

[code]

(in 02a407765f2f4ca995a6691587e8170fdbd385e6) to:

[code]

(If only Python 3 was supported, then I would suggest keyword-only arguments.)
Perhaps the keyword could also be changed, to `solver`.
This will lead to a number of changes, mainly to examples, as commented in the OP.

Are there any objections

[2016-11-26 09:31] johnyf commented on #97
From the above description, it is evident that `transys` is too complicated for what it needs to do. I should have written it differently. I believe that the situation has been simplified in `omega`, as I claim below.

## Current API

Note that "transition systems" as used for synthesis in `tulip` have a meaning similar to [predicate-action diagrams](https://doi.org/10.1109/32.464544). They are no

[2016-11-27 03:11] johnyf commented on #169
`pytest` seems worth considering, it appears to be much more actively developed, and more widely used.

[2016-11-27 05:40] slivingston commented on #157
I support the proposed change.

Regarding whether to change the keyword `option`, I originally imagined that it would be an argument that allows sophisticated configurations to be expressed, e.g., `option='omega-sylvan'` to use `omega` and `dd.sylvan`. By defining configuration abbreviations, we can avoid adding more function parameters and thus make call signatures easier to read. If we eventuall

[2016-11-27 05:55] slivingston commented on #158
I imagine two use-cases where the interface with the JTLV solver is required:

1. running legacy code (i.e., old, mostly unmaintained source code that is worth keeping) that might or might not depend on an old version of TuLiP;

2. using the JTLV solver because it has some unique and valuable features that we failed to notice when we decided to remove it.

For case 1, it can be useful to have some

[2016-11-27 06:46] johnyf commented on #158
I agree with the conclusion for case 1 [above](https://github.com/tulip-control/tulip-control/issues/158#issuecomment-263104092), namely that using a consistent snapshot from the past (a version of `tulip` that corresponds to the legacy code and data) should be the preferred approach.

This will always work, whereas trying to run something from `contrib/` can easily prove to be a trap for losing t

[2016-11-27 06:51] johnyf commented on #158
Also, I agree that, for documentation purposes, a note should point to where the interface was, for anyone that needs to find it. I think that a history page in the documentation may become an extra thing to maintain. The CHANGELOG is, in a way, the history page of the documentation, so we could clearly note in there the last commit hash and `tulip` version that contained the interface.

[2016-11-27 17:40] murrayrm commented on #117
From a user perspective, I like something like this:

    f.add_var('v1')
    f.add_var('v2', (0,3))
    f.add_var('v3', 'str', ['tofu', 'beef', -1, 2])

much better than this

    g.vars = dict(x='bool', y=(0, 3), z=(2, 10), w=['tofu', 'beef', 'foo'])

Of course, these are not incompatible (the `add_var()` method could be something that has reasonable defaults and interpretations to make things l

[2016-11-27 17:46] murrayrm commented on #97
What would the impact of this change be from a (non-expert) user perspective?  Seems like it is all internal?

[2016-11-27 17:50] murrayrm commented on #158
Mainly out of curiosity: if we delete the JTLV interface and someone were to want to use JTLV as a "custom" solver, could they do it?  Ie, how hard would it be to create a "user interface" to a solver?

I don't see any particular reason to keep the JTLV interface.  The tool is not being maintained (right?) and nobody is currently using it.

[2016-11-27 19:03] necozay commented on #157
Not a very strong objection but just thought I would write it anyway. I think `synthesize` operates on `spec`, `sys` and `env` (not only on the specification). It can operate only on the `spec` but the main usage in tulip examples is specification plus system. Having `option` in between these looks a bit odd to me. For comparison:

[code]
Would it make sense to move it to a later spot?

[2016-11-27 19:05] necozay commented on #157
I just realized `omega` will be default in what is suggested above so in the examples it would be ignored anyways. Then, it will be fine.

[2016-11-27 20:49] johnyf commented on #117
I agree, in `dd` it works like this:

[code]

By default, new bits are added at the next level that is not occupied. Passing a level explicitly overrides this behavior.

The method `omega.symbolic.fol.Context.add_vars` takes a `dict` (it needs to take some sort of container), so for the methods with plural names it will probably still be a `dict`. Nonetheless, this suits both beginners and experts

[2016-11-27 21:08] johnyf commented on #157
I totally agree with the [suggestion](https://github.com/tulip-control/tulip-control/issues/157#issuecomment-263140115) to move `option='omega'` to the end, or at least after `env` and `sys`.

This is the case also in the signature of the function [`synth.synthesize_many`](https://github.com/tulip-control/tulip-control/blob/02a407765f2f4ca995a6691587e8170fdbd385e6/tulip/synth.py#L927):

[code]

I

[2016-11-27 21:55] johnyf commented on #97
The interface `tulip.interfaces.ltl2ba` will remain unchanged.

The module `tulip.transys.algorithms` contains pieces of old code that are not operational, and await to be erased, except for one: the function `ltl2ba`. This (very small) conversion function was written using the class that is now `omega.automata.Automaton`, so it currently is not operational. Applying the above change will make it

[2016-11-28 15:49] slivingston commented on #39
I think that the specification generation code under [contrib/AES](https://github.com/tulip-control/tulip-control/tree/02a407765f2f4ca995a6691587e8170fdbd385e6/contrib/AES) as of commit 02a407765f2f4ca995a6691587e8170fdbd385e6 is sufficient to close this issue. If additional features are desired, then open issues that are narrower in scope.

[2016-11-28 15:49] #39 closed

[2016-11-28 16:19] slivingston commented on #158
re https://github.com/tulip-control/tulip-control/issues/158#issuecomment-263105684 I agree that the CHANGELOG suffices as the (ongoing) history page.

[2016-11-28 16:25] slivingston commented on #158
Unless I missed something above, the conclusion in terms of actions is the following:

* delete `tulip.interfaces.jtlv`;
* make a note of the deletion and the corresponding commit hash in the CHANGELOG.

The translation code for `jtlv` will be kept as it currently is.

[2016-11-28 17:07] johnyf commented on #158
Indeed. I will complete these changes on branch `rm_jtlv` and open a pull request.

[2016-12-01 20:21] slivingston commented on #167
I received a response from Nelma and Rogério. (I am happy to forward it to anyone privately.) In summary, the Bitbucket repo URL that is listed on PyPI is correct but is private to their research group. They welcome contributions, suggestions and bug reports, which we can email them directly.

[2016-12-01 20:58] slivingston commented on #131
@johnyf notified me via email about the existence of pre-compiled binaries for `numpy` and `scipy`, which can be obtained using

    pip install --only-binary=numpy,scipy numpy scipy

If we use this as part of the CI configuration, then we can remove `conda` from [.travis.yml](https://github.com/tulip-control/tulip-control/blob/02a407765f2f4ca995a6691587e8170fdbd385e6/.travis.yml#L22-L33).

[2016-12-06 20:36] slivingston commented on #131
With relevance to #44, I was able to successfully and quickly complete the above command with Python 3.5.2 and `pip` 8.1.2

[2016-12-14 22:55] jmcmahon443 opened #170 "examples/continuous_with_simulation.py gives error"
We have two machines receiving this error when we run `python continuous_with_simulation.py` with Python 2.7. This issue is just to track it.

[code]

[2016-12-14 23:42] johnyf commented on #170
Thank you for the feedback. A user reported this issue last week, and it appears to originate from `polytope`, in particular here: https://github.com/tulip-control/polytope/commit/770a408f74c31992dc7f9f3e2731c4d38794962b.

The example was intended to run in absence of `cvxopt.glpk`. A new release of `polytope` will happen in the near future that is expected to address this issue. Until then, the e

[2017-01-20 12:27] CosimoSpagnolo opened #171 "New on TuLiP"
Hi to All,
I'm an Electrical Engineer and i'm doing a PhD. Usually, i m proficent in the design and optimization of electrical machine but my new task is to study the hybridization of electrical distribution system for aircraft.
For this reason i m interested in learning the use of tulip toolbox. Also i m learning to use Python too, could someone explain to me in short terms how learn the tulip to

[2017-01-20 16:47] slivingston commented on #171
Have you tried to read the User's Guide, <https://tulip-control.sourceforge.io/doc/>? I recommend that you begin by reading at least the first 3 sections of it. Next, study examples that are included with the TuLiP source code, which you can find in the `examples` directory. You can browse the examples via GitHub at <https://github.com/tulip-control/tulip-control/tree/98bd53af718c2899418a89bc715fc

[2017-01-20 17:21] CosimoSpagnolo commented on #171
Thanks for the fast answer.
The last question was about if i want to do a conversion from python to matlab and then use drag&drop into FPGA. I'm not expertise in this and could be a wrong question.

Many thanks again

[2017-01-20 18:54] johnyf commented on #171
About learning Python, I would strongly recommend the following resources:

1. [“The Hitchhiker’s Guide to Python!”](http://docs.python-guide.org/en/latest/) by Kenneth Reitz, Tanya Schlusser, and the Python community
2. [“PEP 20: The Zen of Python”](https://www.python.org/dev/peps/pep-0020/) by Tim Peters
3. [“Effective Python”](http://www.effectivepython.com/) by Brett Slatkin
4. [“Writing Idiom

[2017-01-20 19:37] necozay commented on #171
For TuLiP, you might want to take a look at `aut2simulink.py` under `contrib` directory for conversion to Simulink. Then you can look for options to go from Simulink to FPGA. `AES` directory includes some old code for specifying electric power system (EPS) problems.

For static EPS problems, we have some python to matlab conversion [here](https://github.com/EPS-Con/eps-reconfig/blob/master/cont_ex

[2017-01-20 20:18] CosimoSpagnolo commented on #171
Thank you so much for your help
I'm starting to give a look to the documentation

[2017-01-21 19:14] slivingston commented on #115
related work: <https://github.com/mvcisback/py-stl>, "Python library for working with STL syntax".

[2017-01-21 19:18] slivingston commented on #115
nontrivial application of py-stl is <https://github.com/mvcisback/py-blustl>

[2017-01-21 19:31] slivingston opened #172 "add checklist of contribution expectations to developer's guide"
from <https://github.com/tulip-control/polytope/pull/38#issuecomment-274157995>:

where the "listed expectations" is in reference to the list near the end of the comment at <https://github.com/tulip-control/polytope/pull/38#issuecomment-273972278>, i.e.,

Besides [doc/dev_guide.rst](https://github.com/tulip-control/tulip-control/blob/98bd53af718c2899418a89bc715fc5d40a0a500e/doc/dev_guide.rst), thi

[2017-01-21 21:12] murrayrm commented on #115
Good find!  We should definitely have a look at this and see if we can find a way to use/support `py-stl` as a way of getting STL specs into TuLiP.  The code looks very early (no documentation yet), but being done by a grad student in Sanjit Seshia's group.

[2017-01-21 21:30] vraman commented on #115
py-blustl is under active development, but not far from being ready for
external use. I am in touch with the author, so can relay TuLiP-specific
feature/documentation requests if needed.

Vasu

On Sat, Jan 21, 2017 at 1:12 PM Richard Murray <notifications@github.com>
wrote:

[2017-01-25 21:20] slivingston commented on #171
@CosimoSpagnolo if you have found the recommendations given above to be enough, can you close this issue?

[2017-01-26 10:04] CosimoSpagnolo commented on #171
Hi,
thank you for your support
i'm closing the issue

[2017-01-26 10:04] #171 closed

[2017-01-27 22:58] slivingston opened #173 "In examples, inconsistent naming of X0 and X5 as "lot" and "home""
As of commit 98bd53af718c2899418a89bc715fc5d40a0a500e (`master` branch), several of the examples are based on a task of repeatedly visiting "home" cell and, when requested, eventually reaching a (parking) "lot" in a 2\times 3 grid. In some of these, the descriptions in the comments and the actual implementation are not consistent with respect to the locations of "home" and "lot". This comment appl

[2017-01-27 23:09] johnyf commented on #173
I am fine with either. Thanks for spotting this inconsistency.

Also, at some point it would be interesting to vary the examples a little, possibly by also changing the "story". Two action items in this area were assigned to me in the past:

1. Tighten the specifications to make them nearly unrealizable.
2. Use the automated translation of non-GR(1) formulae to both demonstrate that facility, and

[2017-02-01 05:07] slivingston commented on #173
In the example environment_switching.py, this issue was first noticed by Rui Zhang, who notified me earlier this month via email and to whom thanks is due. That report motivated me to check the other example files.

[2017-02-05 02:04] necozay opened #174 "introduce simulation-equivalence based abstraction"
Simulation equivalence based abstractions are in general much less conservative than bisimulation-based abstractions for LTL synthesis as discussed [here](http://web.eecs.umich.edu/~necmiye/pubs/WagenmakerO_allerton16.pdf). Would be nice to change the default abstraction method in TuLiP (which is based on a bisimulation algorithm) with a simulation-equivalence based one.

[2017-02-05 15:39] johnyf commented on #174
Implementing new abstraction algorithms is an opportunity to try a different design, using `networkx` to represent the abstraction itself, as mentioned some time ago https://github.com/tulip-control/tulip-control/issues/62#issuecomment-36207297. The graph is more natural a data structure, especially given than nodes are being created and removed dynamically. I am not in favor of using a sparse mat

[2017-02-05 15:43] murrayrm commented on #174
I agree that it would be very interesting to have more than one abstraction algorithm and to start generalizing TuLiP (if needed) to allow for that.

[2017-02-13 19:09] johnyf commented on #160
`dd == 0.4.3` has been released. It uses CUDD v3.0.0 and supports passing a path to the CUDD installation, so in principle it should now be possible to build CUDD v3.0.0 once, and reuse that build when building each tool that depends on CUDD.

[2017-02-14 04:25] slivingston commented on #160
I will attempt to create a CI configuration that only builds CUDD once. Stay tuned for the PR!

[2017-02-22 08:08] slivingston commented on #44
The rules for inheritance of the `__hash__` method have changed from versions 2.7 to 3.5, causing a TypeError exception of unhashable type from the following code:
[code]
whereas on Python 2.7, a hash value is obtained. Before running the above code is feasible on Python 3, several small modifications are necessary, e.g., replacing `isinstance` checks from `basestring` to `str`. However, these are

[2017-02-22 08:18] slivingston commented on #44
Hash values are necessary for using AST nodes in `networkx` graphs. The only required property of hash values is that for any two objects A and B,

    A = B => hash(A) = hash(B)

[2017-02-22 08:28] slivingston commented on #44
[The `Var` class](https://github.com/tulip-control/tulip-control/blob/5d161c0ee74020b80c320f119c15a325d6d34a39/tulip/spec/ast.py#L245) obtained from `tulip.spec.ast.make_fol_nodes()` derives from `Terminal`, which in turn derives from `Node`, which is an abstract base class. The change in the Python language specification affects the `Terminal` class because `__eq__` is defined for it, but `__hash

[2017-02-22 09:39] johnyf commented on #44
Thanks for reasoning about this hashability issue. As remarked, we do need to make AST nodes hashable, if we want to use `networkx` for graph transformations. The below assumes that using `networkx` is necessary (I implemented it, and I have counter-arguments now, but that is another discussion).

Due to the comment on [these lines](https://github.com/tulip-control/tulip-control/blob/5d161c0ee7402

[2017-02-22 19:33] slivingston commented on #82
I tried to run `examples/continuous.py` today as of the current tip of `master` branch (commit 5d161c0ee74020b80c320f119c15a325d6d34a39), using each of the currently available solver configurations. For 1 trial, durations of abstraction process in seconds:

* GLPK solver, wrapped by CVXOPT: 8
*  conelp() function of CVXOPT (not using GLPK): 131
* SciPy solver, `scipy.optimize.linprog`: 94

Test wa

[2017-02-22 19:35] slivingston commented on #82
Because this issue is old and, currently, I cannot replicate the originally reported behavior, I am closing this issue. @necozay or anyone can re-open if they are still observing it.

[2017-02-22 19:35] #82 closed

[2017-02-22 19:52] slivingston opened #175 "absent key `'message'` used in error message in get_input_helper()"
To witness the error, try to run examples/continuous_with_simulation.py after applying the patch
[code]
which renders the LP in `get_input` infeasible.

In [`get_input_helper`, line 452 of abstract/find_controller.py](https://github.com/tulip-control/tulip-control/blob/5d161c0ee74020b80c320f119c15a325d6d34a39/tulip/abstract/find_controller.py#L452), which is called by [`get_input`](https://github.

[2017-02-22 19:55] slivingston commented on #175
I propose as solution that the exception message contains the status integer from the LP solver. E.g.,
[code]

[2017-02-22 20:01] slivingston commented on #175
The interpretation of a status integer requires checking documentation for the solver. So, we might want to place a description string under the key `'message'`. However, this would involve more maintenance effort of `lpsolve` in the package `polytope` if the interpretation of nonzero status integers changes upstream in a future version of `scipy.optimize.linprog`.

[2017-02-22 22:09] necozay commented on #175
I think having `lpsolve` in `polytope` populate the key `message` with a uniform description is a good idea. I would expect the `scipy.optimize.linprog` and other solver status messages to be stable (at least at a rough "feasible, infeasible, unknown" level) and `lpsolve` should be maintained to keep up with it.

[2017-02-23 01:51] johnyf commented on #175
Looking back at ca5a80d8b91e79345c27de0629d683f95cfeb455 and the commits in #168 before rebase, I think that the `'message'` is an error introduced by me here: https://github.com/tulip-control/tulip-control/commit/4d1cac37fc39846e9d7986536e6a496c7dbc37f4#diff-db73a44c4631fa5fc7c04bff0f7d729aR449 during the rebase.

I am fine with either of the solutions proposed. The [first one](https://github.com

[2017-02-23 23:37] slivingston commented on #172
closed via changes from PR #176

[2017-02-23 23:37] #172 closed

[2017-03-06 14:15] #158 closed

[2017-03-14 17:51] txlin opened #178 "Until operator usage"
I'd like to modify the existing example `gr1.py` line 112 so that the robot would wait at `X0` until the park signal is released. My instinct would be to modify the line to become:

[code]

However, doing this results in a long error message list (attached below). Is this incorrect syntax for what I'm trying to achieve?

[code]

[2017-03-14 21:44] johnyf commented on #178
The "until" operator `U` is not in the initial predicate + action + GR(1) fragment (state machine + GR(1) for short) of linear temporal logic (action = formula that contains primed and unprimed variables, no other temporal operators), hence the error. Some LTL operators are expressible in this fragment. Not all LTL operators are expressible.

The until operator is expressible in LTL. The translati

[2017-03-23 07:11] johnyf commented on #178
@txlin did the above answer you question? Can we close this issue?

[2017-03-23 14:15] txlin commented on #178
Yes, thanks for the help

[2017-03-23 14:15] #178 closed

[2017-04-03 06:35] johnyf commented on #157
As of cb6aa6f223c205e3fd50a2560d980a6bf7c1fa6b I have applied the changes discussed above. The API change is in 43d4ceba808398034782fea920b41955429234c1. I removed the (first positional) argument `option` from the functions `tulip.synth.synthesize` and `tulip.synth.is_realizable` and added the keyword argument `solver` last in the signature. I used "solver" because I think it is a little more self

[2017-04-04 18:13] slivingston commented on #157
@johnyf I read through the changes, i.e., commits 51cd8cd11a2709d2702df667171f638850544ba2 - cb6aa6f223c205e3fd50a2560d980a6bf7c1fa6b (branch `swap_synth_args`). They are good. I think that waiting 1 more day for comments is sufficient.

[2017-04-04 18:46] necozay commented on #157
I like the change in API.

[2017-04-06 02:41] johnyf commented on #157
Merged as ce72e782ae38bfb2f5119e649341ebb4255038b5.

[2017-04-06 02:41] #157 closed

[2017-04-10 22:58] andreasjacob opened #179 "Can't run example discrete.py"
So, with the example file discrete.py as it is, gives an exception _"synthesize() takes at least 2 arguments (2 given)"_

Providing 'omega' as additional argument and trying again results in _AssertionError: renaming target var "loc_2'" at level 9 is essential, rename: {0: 1, 2: 3, 4: 5, 6: 7, 8: 9, 10: 11, 12: 13}, support: set([9, 11])_

Can you kindly point me what am I missing out? I just want

[2017-04-11 01:18] slivingston commented on #179
Which version of `tulip` are you using? E.g., try

    python -c 'import tulip; print(tulip.__version__)'

[2017-04-11 01:35] slivingston commented on #179
In a new Python 2.7.13 environment with `pip` version 9.0.1, the following quick run using the current tip of `master` branch (commit 5d69ce50b29b4baddfa537feec2acf3c61a3e92b) succeeds for me:
[code]
on Fedora 25 (GNU/Linux).

[2017-04-11 01:38] slivingston commented on #179
@andreasjacob One hypothesis is that you have the most recent release of TuLiP installed, but you are trying the examples as on the current tip of `master` branch, which includes changes that are not backwards-compatible.

If my hypothesis is true, then you should try to use the examples as of the release v1.3.0. You can fetch a tarball from <https://github.com/tulip-control/tulip-control/releases

[2017-04-11 01:39] johnyf commented on #179
I could reproduce both the errors that you observed as follows:

[code]

So the first error was likely caused by running a version of `tulip` older than branch `master`, but attempting to run the example `discrete.py` from the repository checked out at branch `master`. The issue can be avoided by either:

1. running a version of the example that matches the version of `tulip`, e.g., `pip download

[2017-04-11 03:10] andreasjacob commented on #179
Indeed, I was running the example from master with tulip installation of version 1.3.0. (dd v.0.5.1 and omega 0.1.0).

I removed tulip and omega. Enter _python2 setup.py_ install for tulip. And now the example discrete.py (provided with Tulip v.1.3.0 tar) successfully completes.

[2017-04-11 04:30] johnyf commented on #179
Thanks for noting what caused this issue. A few suggestions for future work with Python:

- It is recommended to use `pip install .` or `pip install -e .` when possible instead of `python setup.py install`. `pip` first collects all dependencies, analyzes the resulting (acyclic) graph, and installs dependencies before dependents. Sometimes this can make a difference, e.g., for generating parser tab

[2017-04-11 04:30] #179 closed

[2017-04-11 14:15] slivingston commented on #179
@andreasjacob we now have a mailing list where user questions can be posed: <https://lists.sourceforge.net/lists/listinfo/tulip-control-users>. In the future, I encourage you to ask there first before opening an issue in this issue tracker.

[2017-05-12 08:13] johnyf commented on #170
`polytope` addressed this issue, but in a different way than the commit mentioned [above](https://github.com/tulip-control/tulip-control/issues/170#issuecomment-267192059). This issue will be addressed in `tulip` by 87d6da85e69e908f5efe71b35e66d7ba0f4c69ca, part of #180.

[2017-07-08 03:01] #44 closed

[2017-07-08 03:01] johnyf commented on #170
Addressed as of f177062d241e17518bb17272f59187274d20a9da. The example `continuous_with_simulation.py` now runs using `scipy`, in absence of `cvxopt`. So this example now runs in pure Python, without any errors, in about 45 sec.

[2017-07-08 03:01] #170 closed

[2017-07-22 21:23] slivingston commented on #33
For the first use-case, I propose to use [Ansible](http://docs.ansible.com/ansible/latest/index.html), which can be written to support multiple cloud computing providers. I can most quickly develop this for AWS and GCP.

[2017-07-22 21:26] slivingston commented on #147
I bumped the target milestone for this issue, again, because the amount of remaining work to address this issue may be large, whereas there are other improvements on `master` branch that are worth releasing soon.

[2017-07-22 21:47] slivingston commented on #79
With the current annotations of initial conditions and time semantics in `GRSpec` objects, we should be ready to implement strategy verification. Over the years, there has been occasional discussion about more general support for verification in TuLiP. In the scope of this issue, I propose only to address checking the discrete strategy. In particular, verifying a simulation relation with a piecewi

[2017-07-22 22:44] slivingston commented on #117
@johnyf any updates on this?

I am available to review any work you may have on this. Alternatively, I can try to implement the proposed `add_var` function.

[2017-07-23 14:38] johnyf commented on #117
I added a method `GRSpec.declare` on branch `declare_vars`. Although complete, I would like to examine the implementation a little more before opening a PR.

Boolean-valued variables are given as positional arguments (the absence of a type hint signifies that a variable is Boolean-valued). Other variables are given as keyword arguments, where the value is either a pair of integers, or a sequence o

[2017-08-24 06:12] #117 closed

[2017-09-01 19:25] johnyf opened #183 "update to `networkx >= 2.0`"
The `networkx` API is not backward compatible. [Migration guide](https://github.com/networkx/networkx/blob/228cbd3761c23eab3ccc3d616093933876ce9f15/doc/release/migration_guide_from_1.x_to_2.0.rst). `networkx` is [bounded to `<= 1.10`](https://github.com/tulip-control/tulip-control/blob/4a6837bbcb42f92a59ac67793b8a4dda7f061889/setup.py#L96), so this issue won't become a bug when `networkx == 2.0` i

[2017-09-01 23:12] johnyf opened #184 "deprecate "states" based API of `transys`"
The new API of `networkx` is simpler and Python 3 friendly. After #183, the time has come to replace the module `tulip.transys.labeled_graphs` and delete most of `transys`.

### Preview

- some of the API should be removed (unnecessary checks for already existing nodes and edges, and similar restrictions),
- some of the API isn't needed ("typed" attributes and similar complex notions)
- some of th

[2017-09-02 00:47] slivingston commented on #184
I agree with your proposed roadmap.

Given the large scope of this issue, I recommend to create single-task issues about specific parts, which may better allow assigning these tasks to different humans. Of course, having a single issue is OK if you want to take this all on yourself.

[2017-09-02 18:26] slivingston commented on #115
update: https://github.com/mvcisback/py-blustl now redirects to https://github.com/mvcisback/magnumSTL
in the root of the sourcetree there is a [nontrivial IPython Notebook](https://github.com/mvcisback/magnumSTL/blob/63e1132544706d5bbd7590735bb7b6f12d6a661c/Untitled.ipynb)

[2017-09-05 21:19] johnyf commented on #184
There are at least two kinds of tasks that I expect to be able to partition the work into:

1. ensuring that no useful functionality is forgotten during reimplementation (a task that benefits from overlapping reviews)
2. implementing proposed API that has already been specified in docstrings.

I think the approach of item 2 will enable specifying an API design and then allocating implementation of

[2017-09-15 16:56] Tkabb opened #185 "Error with matlabsim contribution"
I am trying to run the examples in the `matlabsim` contribution but I am getting the following error, does someone has an idea about this issue or how to solve it (maybe the contribution developer @stsuei ):

[code]

PS: Tulip works will and generate the controller but with small thing that I don't now if it is an issue, that is the states are named with what seems to be a memory location (ex. `0x

[2017-09-15 23:45] johnyf commented on #185
The failing line is [`tomatlab.py#L312`](https://github.com/tulip-control/tulip-control/blob/4a6837bbcb42f92a59ac67793b8a4dda7f061889/contrib/matlabsim/tomatlab.py#L312) (this line is 314 above, which means that either it is from another commit, or the file has been edited). What it means is that the variable with name `'loc'` is not assigned any value by the state `orig_state` of the synthesized

[2017-09-15 23:57] johnyf commented on #185
Side note: if your spec does not involve any transition system (e.g., it is written with a few variables and a couple of formulas, as in [`examples/gr1.py`](https://github.com/tulip-control/tulip-control/blob/master/examples/gr1.py)), and you prefer to keep the file `tomatlab.py` unchanged, then you could simply declare a dummy variable named `'loc'` that is an integer (say `\in 0..3`) and doesn't

[2017-09-16 15:44] Tkabb commented on #185
Thanks for the reply. I have actually only run (with latest release of Tulip) the example given with the contribution folder, namely "discrete.py", with the following slit change (that I was not able to run with out them and which might be in fact the problem):
specs.qinit = '\A \E'
specs.moore = False
specs.plus_one = False

By printing the following (which is why the error line is 314)
print(mea

[2017-09-16 16:21] Tkabb commented on #185
BTW, I am having an error in "gr1.py" example in Tulip:
No handlers could be found for logger "polytope.polytope"
Traceback (most recent call last):
  File "gr1.py", line 124, in <module>
    strategy = synth.synthesize(specs)
TypeError: synthesize() takes at least 2 arguments (1 given)

I should add the solver before the specifications to make it work:
strategy = synth.synthesize('omega',specs)
M

[2017-09-17 01:48] johnyf commented on #185
Thanks for noting these issues. Please find corrections on the branch `matlabsim_fixes` (https://github.com/tulip-control/tulip-control/tree/matlabsim_fixes).

About using a Mealy controller with `\A env0: \E sys0` initial condition, currently `gr1c` supports this option, and other options are supported by `omega`. When `matlabsim` was introduced, this was the only available option, and later it w

[2017-09-18 10:44] Tkabb commented on #185
Ok very good, I will install this branch and work on it.

For the unresolved symbols in Stateflow, I think that the problem comes from the fact that the env. input signal (e.x. park in discrete example) which is build using "load_discrete.m" [file](https://github.com/tulip-control/tulip-control/blob/matlabsim_fixes/contrib/matlabsim/discrete_example/load_discrete.m) to be selected randomly between

[2017-09-19 04:24] johnyf commented on #185
Thanks for the suggestions. To coordinate merging of the proposed changes, would it work to open a pull request? If any of the errors are not exposed by any of the current `matlabsim` examples, it may be useful to add small examples or unit tests that exercise those areas of code.

[2017-09-20 10:29] Tkabb commented on #185
My pleasure, yes it would be good as I might also work on the continuous part. So I can add all proposed corrections directly there. However, as I am short on time I would concentrate first on making it work by fixing errors and I will add supporting code as possible along the way or after I finish.
Thanks for the help.

[2017-09-20 17:11] Tkabb commented on #185
When running "continuous.py" example in `matlabsim_fixes` , the following error is raised:

[code]

[2017-09-21 06:32] johnyf commented on #185
This error and some other issues have been addressed by further work on branch `matlabsim_fixes`.
I also refactored the code to use the [`networkx`](https://networkx.github.io/) interface as much as possible.

The double tank example raises an error within `tulip`, but its maintained version under `examples/developer/fuel_tank` works, so updates based on the latter are expected to resolve that err

[2017-09-23 06:42] johnyf commented on #185
The double tank example needed updating (), based on its version under `examples`. The branch `matlabsim_fixes` has been merged into `master`. The OP and any other issues on the Python side have been addressed. All examples run successfully up to the export stage.

I recommend opening a pull request based off branch `master`, with the fixes on Matlab's side mentioned above, so that this issue be c

[2017-09-25 00:18] johnyf commented on #185
Relevant to this, and other, interfaces: [Matlab supports calling Python code](https://www.mathworks.com/help/matlab/getting-started-with-python.html) almost as if from within a Python interpreter ([with a prefix `py.`](https://www.mathworks.com/help/matlab/matlab_external/create-object-from-python-class.html)). This means that our existing infrastructure can be used directly from Python. In princ

[2017-09-25 19:15] Tkabb commented on #185
Hi, Ok so I will gather all the Matlab fixes in a pull request. Thanks for the python in Matlab advice, I am already using it.

In the python side, there rests only that when using gr1c in python code for synthesis, an error is raised in Matlab code (In particular after executing the following [line](https://github.com/tulip-control/tulip-control/blob/e4258ac28a093e4c8c39099daeeff8238d84a30f/contr

[2017-09-26 08:36] johnyf opened #186 "enumerate initial states correctly for all types of initial conditions"
The Mealy machine returned from synthesis appears to be constructed in a way that does not handle all cases of initial conditions correctly.

How quantification of initial conditions is communicated to the solvers appears to be correct, and so the result returned to `tulip` by the solvers should be correct (this is a graph with nodes annotated with variable assignments).

Later though, the initial

[2017-09-26 08:48] johnyf commented on #186
If in no case fewer nodes are recognized as initial, then this error would have been quite difficult to find at runtime, because all nodes in the strategy are within the winning set, so the difference should not raise errors in normal use (put differently: the extra initial nodes are still winning).

[2017-09-28 07:41] johnyf commented on #13
Simple is better than complex [PEP 20]. Code need not become more complicated because terminology varies across the literature. A class that serves all purposes usually has the consequences of a global variable. The design of a reusable class results from longtime usage. Using an expressive specification language is more flexible an approach than what the OP considers.

Particular classes arise as

[2017-09-28 07:41] #13 closed

[2017-09-28 07:45] johnyf commented on #184
Relevant to #18.

[2017-09-28 12:34] johnyf commented on #184
Relevant to [PEP 4](https://www.python.org/dev/peps/pep-0004/).

[2017-09-28 18:58] Tkabb commented on #185
So, for the Matlab errors I managed to solve them but I am not sure what was the main source.

For the continuous case, the problem I believe it is the MPT solver. This is because when I implemented the matlab code with the exported .m file in Matlab with MPT that has gurobi solver, the simulation ran correctly.
I noted this problem with MPT when I check the regions structure that were built from

[2017-09-28 18:58] #185 closed

[2017-10-14 06:59] johnyf commented on #186
Relevant to #93.

[2017-10-27 21:09] slivingston commented on #115
@vraman this task was originally assigned to you, but if you do not have any prior work waiting to be committed, can I do it?

I am working on a project for which having STL in TuLiP would be useful.

[2017-11-25 17:21] murrayrm commented on #115
Is anyone working on this functionality?  I have some undergrads interested in working on projects next quarter and could get someone started in this direction.

[2017-12-13 01:11] vraman commented on #115
In an in-person conversation with Scott last month, I gave him my approval
to take over this feature.

Vasu

On Sat, Nov 25, 2017 at 10:51 PM Richard Murray <notifications@github.com>
wrote:

[2017-12-31 22:39] slivingston commented on #115
@murrayrm I am working on it, motivated in part by a project that might use it. I hope to move quickly on it in the coming month.

[2018-01-27 02:02] johnyf commented on #59
The package [`msgpack-numpy`](https://github.com/lebedov/msgpack-numpy) may be relevant to this issue.

[2018-02-13 22:34] zexiangliu opened #191 "something wrong with 'transys.tuple2fts'"
https://github.com/tulip-control/tulip-control/blob/4dbe152bcf44da6cc91747c8318cccc0d61f9ac0/tulip/transys/transys.py#L583

The data type of ts.actions is dict, and when the function 'transys.tuple2fts' is called, an error pointing to the line above says that 'TypeError: unsupported operand type(s) for |=: 'dict' and 'dict''

[2018-02-14 09:43] matteolucchi commented on #191
I also get the same error when I try to add actions to a FiniteTransitionSystem() with:
`r.actions |= ['think', 'write']`
I get
_TypeError: unsupported operand type(s) for |=: 'dict' and 'list'_

Could this be something related to the fact that I am running it in python 2.7?

[2018-02-14 09:55] johnyf commented on #191
The attribute `FiniteTransitionSystem.actions` appears to have been a `MathSet` (which behaves similarly to a `set`) but then changed to a `dict` [1], leading to this error. The docstring of the function `tuple2fts` is outdated:

https://github.com/tulip-control/tulip-control/blob/4dbe152bcf44da6cc91747c8318cccc0d61f9ac0/tulip/transys/transys.py#L502

Locally one could change the failing statement

[2018-02-14 11:02] matteolucchi opened #192 "ts_sync_prod() not working"
I am trying to get the tensor product between 2 FiniteTransistionSystem but when i call the function i get this error:

 _File "/usr/local/lib/python2.7/dist-packages/tulip/transys/algorithms.py", line 227, in ts_sync_prod
    prod_ts = super(FiniteTransitionSystem, self).tensor_product(
NameError: global name 'self' is not defined_
I checked around in the API documentation but i cannot find examp

[2018-02-15 18:49] johnyf commented on #192
The module `tulip.transys.algorithms` contains excerpts from older code that were moved there during an overhaul (e.g., 1392b3ed2939ba177eedd055397f819201475ead). They have not been reimplemented, and are not currently under development. Older versions can be found at [1, 2]. The module [`transys.products`](https://github.com/tulip-control/tulip-control/blob/f704eaec18335a9bdbb4ad279c854756a10090e

[2018-02-20 21:28] johnyf opened #194 "`epydoc` does not support Python 3"
The API documentation uses `epydoc`:

https://github.com/tulip-control/tulip-control/blob/f704eaec18335a9bdbb4ad279c854756a10090e6/doc/Makefile#L12

but `epydoc` is written in Python 2:

[code]

Alternatives to consider:

- https://github.com/BurntSushi/pdoc
- https://pypi.python.org/pypi/sphinx-epytext/

[2018-03-31 23:37] johnyf opened #196 "distinguishing families of tests"
The test families `base` and `hybrid` were introduced (86892f30f3b38731b97e537d45531cd3d91fefa6) at a time when `polytope` required `cvxopt`, so tests depending on `polytope` were not included in the family `hybrid`:

https://github.com/tulip-control/tulip-control/blob/86892f30f3b38731b97e537d45531cd3d91fefa6/run_tests.py#L26-L30

because `polytope` and `cvxopt` were optional dependencies:

https:

[2018-06-13 02:41] slivingston commented on #196
Did you run numerical trials to estimate how much slower tests in `hybrid` run without `cvxopt`?

[2018-06-13 02:49] slivingston commented on #191
@johnyf shall we mark `tuple2fts` as deprecated? In this case, the recommended method of constructing FTS objects is as documented in the docstring of `FiniteTransitionSystem` and as in the examples of [examples/developer/transys/transys_basic_examples.py](https://github.com/tulip-control/tulip-control/blob/afa152d8fa044b797f9681c7fd976a3814a59b75/examples/developer/transys/transys_basic_examples.

[2018-06-13 06:29] slivingston commented on #194
I tried both of the alternatives using Python 3.6.5, and I recommend that we use `sphinx-epytext`. The main advantages of `sphinx-epytext` are the following:

1. We can finally move the API documents into the User Guide, which makes them easier to discover and reference together, and which provides a common Web site design.

2. The conversion seems to require few changes to render the existing mar

[2018-06-13 06:30] slivingston commented on #194
If there are no other recommendations about alternatives to consider, then I will create a pull request that switches us to `sphinx-epytext`.

[2018-06-15 14:29] slivingston opened #197 "support Windows"
- [ ] evaluate current status of installing and using TuLiP on Windows
- [ ] decide which versions of Windows should be supported
- [ ] write special instructions or troubleshooting guide for installing on Windows
- [ ] create CI testing for Windows hosts

[2018-06-15 14:31] slivingston commented on #197
for CI, try [AppVeyor](https://www.appveyor.com/), which is gratis for open source projects.

[2018-06-23 23:42] slivingston opened #198 "old branch review: emwolff"
The branch [emwolff](https://github.com/tulip-control/tulip-control/tree/emwolff)

[2018-06-23 23:56] slivingston opened #199 "old branch review: aug_sys"
The branch [aug_sys](https://github.com/tulip-control/tulip-control/tree/aug_sys) has not changed since 2015-01-28. This issue is intended to track review and handling of this branch. The nominal goal is to decide what to save from it, and then delete the branch.

Tasks:
* [ ] create summary of changes in the branch that have not already appeared in `master` branch.
* [ ] try to contact original c

[2018-06-23 23:58] slivingston opened #200 "old branch review: invariants"
The branch [invariants](https://github.com/tulip-control/tulip-control/tree/invariants) has not changed since 2015-02-22. This issue is intended to track review and handling of this branch. The nominal goal is to decide what to save from it, and then delete the branch.

Tasks:
* [ ] create summary of changes in the branch that have not already appeared in `master` branch.
* [ ] try to contact orig

[2018-06-23 23:59] slivingston opened #201 "old branch review: iter_abs"
The branch [iter_abs](https://github.com/tulip-control/tulip-control/tree/iter_abs) has not changed since 2014-10-02. This issue is intended to track review and handling of this branch. The nominal goal is to decide what to save from it, and then delete the branch.

Tasks:
* [ ] create summary of changes in the branch that have not already appeared in `master` branch.
* [ ] try to contact original

[2018-06-24 00:00] slivingston opened #202 "old branch review: dumpsmach"
The branch [dumpsmach](https://github.com/tulip-control/tulip-control/tree/dumpsmach) has not changed since 2015-08-02. This issue is intended to track review and handling of this branch. The nominal goal is to decide what to save from it, and then delete the branch.

Tasks:
* [ ] create summary of changes in the branch that have not already appeared in `master` branch.
* [ ] try to contact origin

[2018-06-24 00:12] slivingston opened #203 "code rot review"
Some parts of TuLiP are rarely or never used. In general having good test coverage can prevent rarely used code from unexpectedly breaking. Nonetheless, maintaining rarely used code as TuLiP evolves is not well motivated. However, because usage of TuLiP in the wild is not well known, it is difficult to decide which parts should receive priority of attention.

This issue is intended to track review

[2018-06-24 00:28] slivingston opened #204 "survey and plan use of recently published abstraction algorithms"
Propose algorithms that should be available in or for use with TuLiP.

Tasks:
* [ ] create list of abstraction algorithms
* [ ] for each, decide whether to independently implement it in TuLiP, to provide an interface (wrapper) for another program or package, or to write manual instructions for export/import of data from another program.

[2018-10-01 23:51] necozay opened #205 "installation instructions can be improved for non-python users"
I tried doing a TuLiP installation from scratch on a wiped out Mac. I found the following poitns a bit confusing in installation instructions (this could be because of the strange access rights on Mac).

* User access rights are not clear in installation instructions. Is it assumed that everything is done in ``sudo``? We might want to clarify this.
* I started getting ``pip`` and installed it for

[2018-10-26 06:46] slivingston opened #206 "Create Jupyter notebooks of examples; demo via Colab"
[Colaboratory](https://colab.research.google.com/notebooks/welcome.ipynb) is able to perform a full installation of TuLiP including optional dependencies such as GLPK.

This task is to create Jupyter notebooks corresponding to the [examples](https://github.com/tulip-control/tulip-control/tree/afa152d8fa044b797f9681c7fd976a3814a59b75/examples). Then, in the documentation, provide URLs to Colab that

[2018-12-27 11:15] hashim19 opened #207 "Triangular Convex Region with Polytope"
Hey Everyone,
I am very new to TULIP and polytope. For my problem I want to define a triangular region instead of a rectangular region as you guys have explained in the tutorials and examples. What I wanna do is described in this image
![ap](https://user-images.githubusercontent.com/13851084/50478191-b16d2800-09f1-11e9-91b5-328f590d3667.png)
I want green to be given proposition (let's say A) and b

[2019-01-01 01:07] slivingston commented on #207
What is your question?

Are you asking why the first row of the matrix is `0.70711 -0.70711` instead of `1 -1` ?

[2019-01-01 09:45] hashim19 commented on #207
Thank you for your response.
Actually, I am not sure whether I am doing it right or not. and yes why does it change to 0.70711 -0.70711 instead of 1 -1 in the first row of the matrix?

[2019-01-01 09:54] hashim19 opened #208 "Kernel Dies when prop2part function is called in continuous state robot motion planning example"
Hello everyone,
I am trying to run continuous state robot motion planning example in Jupyter notebook. But when It tries to run Prop2part line in example, the kernel dies every time

#At this line
cont_partition = prop2part(cont_state_space, cont_props)
![kernel](https://user-images.githubusercontent.com/13851084/50571909-01276700-0dd7-11e9-95be-f7bce0f78131.png)

I search on the internet for the

[2019-01-01 17:07] hashim19 opened #209 "continuous_with_simulation.py gives error"
Hello everyone,
I am trying to run continuous with simulation example and it is giving me the following error. Can anyone tell me what can be the issue?
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-33-f7841238a7a3> in <module>()
----> 1 s0_part = find_controller.find_discrete_s

[2019-01-01 17:10] hashim19 commented on #208
This error is solved now. I haven't installed cvxplot and glpk wasn't installed which was necessary for computing discrete abstractions from hybrid system descriptions.
Thanks

[2019-01-05 23:54] slivingston commented on #208
happy it is solved.

[2019-01-05 23:54] #208 closed

[2019-01-06 00:04] slivingston commented on #207
I read your opening post (OP) again, but I still do not understand fully what you want to do. Thus, I cannot answer whether you are doing it right or not. If you want to pursue this, can you provide a minimal but complete example that demonstrates "it" (i.e., what you want to do)? E.g., share it via a Python program in a GitHub Gist <https://gist.github.com/>.

The change in elements of the `A` ma

[2019-01-06 00:13] slivingston commented on #209
when you write "run continuous with simulation example", are you referring to [examples/continuous_with_simulation.py](https://github.com/tulip-control/tulip-control/blob/afa152d8fa044b797f9681c7fd976a3814a59b75/examples/continuous_with_simulation.py)?

if so, can you tell me the following?
* version of Python (it seems to be 2.7, but I want to confirm)
* version of TuLiP
* version of Polytope

Yo

[2019-01-06 00:14] slivingston commented on #209
I do not understand your comment:

Can you send a patch instead of using prose?

[2019-01-06 14:50] hashim19 commented on #209
These are the results for above commands

[code]

[2019-01-06 15:11] hashim19 commented on #209
I am not sure about the suggestion I made. Let me see how can I send you a patch.

Thanks

[2019-01-07 06:18] slivingston commented on #209
thanks for telling me the version numbers. can you also tell me which "continuous with simulation example" you are trying?

For example, is it examples/continuous_with_simulation.py downloaded directly from GitHub, or did you clone the repo?

My goal is to know precisely which file you ran, so I can replicate the error.

[2019-01-07 06:32] hashim19 commented on #209
I am running examples/continuous_with_simulation.py after cloning the repo

[2019-01-07 19:07] slivingston commented on #209
I have not been able to get the same error. My hypothesis: the error is due to you using TuLiP and Polytope as released on PyPI (e.g., installed via `pip install`), whereas the example in some recent commit of the repo is not compatible. The sourcetree in the repo at the tip of `master` branch is under development and can be broken without notice, unlike official releases.

Assuming that you do no

[2019-01-08 08:18] hashim19 commented on #209
@slivingston thank you for digging into the problem. If I try to run the this example file I have on collab, will it generate the same error?
What I understand from your comment above is that, the master branch I cloned is not compatible with the Tulip and Polytope on PyPI.
1. I will try to run it on collab.
2. I will try to download his example file you mentioned above and will get back to you so

[2019-01-08 09:14] hashim19 commented on #209
@slivingston  so now, I copied the example file from here
[(https://github.com/tulip-control/tulip-control/tree/v1.3.0)]

it was giving me this error

ValueErrorTraceback (most recent call last)
<ipython-input-17-6db961b29e52> in <module>()
     51     cont_partition, sys_dyn, closed_loop=False,
     52     conservative=True,
---> 53     N=5, min_cell_volume=0.1, plotit=show)
     54 # Visualize t

[2019-01-12 18:13] slivingston commented on #209
can you share the Jupyter notebook via gist.github.com ?
Running in Colab requires me to sign-in with a Google account, which I do not want to do.

[2019-01-26 04:11] slivingston commented on #207
@hashim19: given no response from you for > 14 days, I will close this issue. Feel free to re-open if you want more help, or [join the users mailing list](https://sourceforge.net/projects/tulip-control/lists/tulip-control-users).

[2019-01-26 04:11] #207 closed

[2019-01-31 16:54] slivingston commented on #209
@hashim19 given no response > 14 days and because I have not able to reproduce the error that you described, I will assume that you found a solution for your deployment. Feel free to re-open this issue if the error remains, or we can debug your code [via the users mailing list](https://sourceforge.net/projects/tulip-control/lists/tulip-control-users).

In any case, we will work toward a new releas

[2019-01-31 16:54] #209 closed

[2019-02-03 00:50] slivingston commented on #205
while treating this issue, consider switching to [Pipenv](https://pipenv.readthedocs.io/)

[2019-02-15 00:04] slivingston commented on #169
concerning differences between `nose` and `nose2`: https://nose2.readthedocs.io/en/latest/differences.html

[2019-04-04 04:43] slivingston opened #210 "migrate to travis-ci.com"
As presented [on their website](https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/), open source projects will eventually be moved to travis-ci.com. The task is to complete this migration as described at https://docs.travis-ci.com/user/migrate/open-source-repository-migration

checklist for doing this in tulip-control related repositories:
- [x] Tulip (here)
- [x] dd (https://gi

[2019-04-22 16:45] slivingston commented on #169
In the tulip-control project, this issue also applies to

- [ ] [polytope](https://github.com/tulip-control/polytope)
- [ ] [dd](https://github.com/tulip-control/dd)

[2019-05-22 03:31] slivingston commented on #169
I recommend pytest and will move forward with it. This might be useful for legacy code using `nose`: https://docs.pytest.org/en/latest/nose.html

[2019-08-18 03:57] abadithela opened #211 "syntax for initializing variables with a range of discrete values"
Hi,

I am trying to implement an example similar to the Discrete State Robot Motion Planning example given [here](https://tulip-control.sourceforge.io/doc/tutorial.html). My example has a bigger gridworld with an additional moving obstacle that the system is trying to avoid while it continually reaches its goal states. Right now, I'm initializing each grid cell as a state for both the system and t

[2019-08-18 17:28] murrayrm commented on #211
@johnyf @slivingston I thought I remembered there was a way to do this, but can't find  anything in the documentation (?).  Perhaps this was something that `omega` supported?

[2019-08-18 17:39] necozay commented on #211
See line 63 in:

https://github.com/tulip-control/tulip-control/blob/master/examples/gr1_set.py

[2019-08-19 04:00] abadithela commented on #211
Thanks everyone!

[2019-08-22 15:55] tichakorn832 opened #212 "Minimum violation planning"
Implement the framework for minimum violation planning. This includes the following components
* finite state abstraction
* FLTL to finite automaton translation
* path extraction

[2019-08-22 16:16] tichakorn832 opened #213 "Add TuLiP interface to external simulators"
It would be useful to export TuLiP output such that it can be run in external simulators, e.g., ROS.

[2019-08-22 16:19] tichakorn832 opened #214 "Expand simulation capability"
Allow adding agents, e.g., pedestrians and vehicles and expand grid world example.

[2019-08-28 16:17] abadithela opened #215 "Using the "until" operator"
Hi,

I'm trying to use the until operator (U) in one of my specifications but I get a KeyError. Isn't U the right way to denote this operator? I have been able to use the Next (X) operator without a problem. I haven't found this operator used in any of the examples provided. Can you please point me to any examples in which this operator has been used?

Thanks!
Apurva

[2019-09-04 12:36] murrayrm opened #216 "Go through PRs and branches and integrate/toss"
This issue is to track status of PRs and branches and decide on a disposition for each of them.  Richard wants to do this in preparation for the EECI 2020 course.

[2019-10-29 02:43] slivingston commented on #216
related issue: #203

[2019-10-29 02:44] slivingston commented on #211
@abadithela is your question therefore answered?

[2019-10-29 02:46] slivingston commented on #211
while we wait for confirmation from @abadithela , I recommend that the task of this ticket is to revisit documentation and decide how easily someone with this question in the future can find an answer.

[2019-10-29 04:51] slivingston commented on #206
as of today (2019-10-28), the temporary demo URL in the OP continues to work, and I am able to execute the example. the output appears reasonable, but I did not check it carefully.

[2019-10-29 23:56] slivingston opened #217 "update URLs johnyf/dd to tulip-control/dd and johnyf/omega to tulip-control/omega"
at the time of opening this issue, I notice out-of-date URLs in install.rst and tutorial.rst. other documentation must be checked, too.

N.B., this is not critical because GitHub redirects automatically.

[2019-10-30 08:40] slivingston opened #218 "add support for Python 3.7 and Python 3.8; remove support for Python 3.4"
this issue is entirely similar to https://github.com/tulip-control/dd/issues/46

in summary, 3.7 and 3.8 are current versions of Python, whereas 3.4 is past end-of-life.

[2019-12-19 22:39] slivingston commented on #206
somewhat related to this issue: another proprietary competitor in the space of in-browser IDEs is [repl.it](https://repl.it/site/features). they [support embedded Matplotlib plots](https://docs.repl.it/repls/python-plots), and recently they released [support to create Repl environments from GitHub repositories](https://repl.it/site/blog/github).

unlike Colab, repl.it is built around a code editor

[2020-01-21 08:21] mhtb32 opened #219 "LTL2BA parser has problem parsing `skip`"
Hi!

The module ltl2ba.py cannot parse `skip`, which is equivalent to true. Did you not include the parsing rule for `skip` on purpose?
I can make a pull request if you mind.

[2020-02-08 04:41] slivingston commented on #206
For Jupyter notebooks, there is also [Binder](https://mybinder.org/), which is open source.

[2020-02-08 04:52] slivingston opened #221 "upgrade NetworkX dependency"
Upgrading to a recent version of NetworkX is generally motivated to use recent features, bug fixes, etc. While there is some risk that users of Tulip are pinned to Networkx 1 and cannot work with Tulip if dependency switches to Network >= 2.4, I think it is best to allow them to open issues to motivate creating a compatibility wrapper. Otherwise, the most recent release of the 1.x series is [1.11

[2020-02-08 10:30] slivingston commented on #221
also, there is work in progress by @tichakorn832 at https://github.com/tulip-control/tulip-control/pull/220

[2020-02-15 12:13] johnyf commented on #186
`omega >= 0.2.0` lists initial nodes in the attribute `g.initial_nodes` of the graph `g` returned by the function `omega.games.enumeration.action_to_steps`, assigned here:

https://github.com/tulip-control/omega/blob/c0ed2c1fdc31ceee5ae1cf6baa5309bada1cb812/omega/games/enumeration.py#L56

[2020-02-17 03:39] murrayrm opened #222 "Extra states created in omega generate warnings when synthesizing"
When running `examples/discrete.py`,  there are a bunch of warnings generated:
[code]
This message is generated about 30 times and appears to occur in the `synth._trim_strategy` function.  I did a bit of looking around and it seems like `omega` is creating an output `_goal` and then  `_trim_strategy` complains because this is not a variable it recognizes.

I think the strategy that is generated is

[2020-02-17 12:37] johnyf commented on #222
The warnings are generated from the function `tulip.transys.labeled_graphs.LabeledDiGraph._check_for_untyped_keys` which is called from the function `tulip.synth.strategy2mealy`, which is called from the function `tulip.synth._trim_strategy`.

https://github.com/tulip-control/tulip-control/blob/f0001a1cf26776ab7c0db587f7f5f79d2e6e808f/tulip/transys/labeled_graphs.py#L851-L857

https://github.com/t

[2020-02-17 15:22] murrayrm commented on #222
Thanks for jumping on this @johnyf.  The fix looks good to me.

@tichakorn832 You may want to incorporate this change into your current PR.

[2020-02-21 02:13] murrayrm commented on #222
Resolved in #223

[2020-02-21 02:13] #222 closed

[2020-02-21 02:14] murrayrm commented on #221
Resolved in #220.

[2020-02-21 02:14] #221 closed

[2020-02-24 21:44] slivingston commented on #197
Note that Windows 10 is available for (legal) download at <https://www.microsoft.com/en-us/software-download/windows10ISO>. Not having an activation key does not appear to be a significant barrier to usage.

[2020-02-24 22:00] slivingston commented on #197
for https://github.com/tulip-control/gr1c/issues/35 I am automating builds of gr1c that can be executed on Windows. Once that work is completed, I will try to expand CI testing of Tulip to Windows hosts provided by AppVeyor.

[2020-02-24 23:22] slivingston commented on #218
done in work from recent PRs, now merged into `master` branch.

[2020-02-24 23:22] #218 closed

[2020-02-24 23:24] slivingston commented on #218
Note that tests continue to pass on Python 3.4, so it remains [in the list of Travis CI environments](https://github.com/tulip-control/tulip-control/blob/bac6f7811d1077400c0d16b767b631a30b7db8ff/.travis.yml#L3-L4) until there is otherwise motivation to remove it.

[2020-02-26 00:07] slivingston commented on #206
progress in https://github.com/tulip-control/tulip-control/pull/224

[2020-02-26 00:09] slivingston commented on #128
@tichakorn832 I can help with this.

[2020-02-26 00:10] slivingston commented on #213
@tichakorn832 when you write "external simulators, e.g., ROS", are you thinking of Gazebo?

[2020-02-26 00:15] slivingston commented on #219
I do not understand. @mhtb32 can you give an example to illustrate?

Also, can you tell me which version of Tulip that you are using?  You can find it via

    python -c 'import tulip; print(tulip.__version__)'

[2020-02-26 10:34] mhtb32 commented on #219
I was using `ltl2ba.py` file separately like:
[code]
and I replaced the default formula
[code]
with
[code]
Then I received this error:
[code]
I have a [fork](https://github.com/mhtb32/foggy-planner/blob/master/foggy/ltl2ba.py) of your code using [sly](https://github.com/dabeaz/sly) package(a successor to ply) which I have a parsing rule for skip to create a self transition like this:
[code]

[2020-02-26 17:02] murrayrm opened #228 "examples/continuous_with_simulation.py not working"
I’m trying to run a variant of `examples/continuous_with_simulation.py` (reformatted as a Jupyter notebook, but same basic code).  Jupyter notebook version attached.
[continuous_with_simulation.ipynb.txt](https://github.com/tulip-control/tulip-control/files/4257116/continuous_with_simulation.ipynb.txt)

* Everything works up until the simulation, though I am not sure I believe the discrete abstrac

[2020-03-01 21:35] #217 closed

[2020-03-02 04:36] necozay commented on #174
done in 19da152d868914da475428839481d64bb6acaadc (namely  dual-simulation)

[2020-03-02 04:36] #174 closed

[2020-03-02 04:42] necozay commented on #28
done  in 19da152d868914da475428839481d64bb6acaadc (see  https://github.com/tulip-control/tulip-control/blob/ce54897c242689f45ad33650f157bf1805b35ed6/tulip/transys/transys.py#L863).

[2020-03-02 04:42] #28 closed

[2020-03-02 12:34] johnyf opened #231 "populate `__init__.py`"
Add imports to `tulip/__init__.py` of modules and ensure that direct calls to functions work, for example `tulip.discretize` and `tulip.synthesize`.